[2020-06-17 16:51] hiranya911 commented on #470
Set a timeout by passing the `httpTimeout` option when initializing the app. The default is 2 minutes.

[2020-06-17 16:51] #470 closed

[2020-06-23 07:27] olance opened #471 "`create_custom_token` uses deprecated `SignJwt` API"
### Describe your environment

  * Operating System version: macOS 10.15
  * Library version: v4.3.0
  * Firebase Product: auth

### Describe the problem

Google Cloud Platform sent out an email yesterday:

One of my projects was listed as affected, and I could trace the API call down to my use of `create_custom_token` from this `firebase-admin` package.
This method ultimately calls some signing m

[2020-06-26 02:40] radyz opened #472 "FR: Manage projects and security rules"
I recently came across a project where needed it the following functionality and had to implement it via the rest api:

- Manage projects: https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects
- Manage operations: https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/operations/get
- Manage security rules: https://firebase.google.com/docs/reference/admin/node

[2020-06-26 18:06] hiranya911 commented on #472
Managing projects is already supported: https://firebase.google.com/docs/reference/admin/python/firebase_admin.project_management

We do not wish to expose operations management directly. But we already use it internally for certain use cases.

Security rules management is currently available in our Node.js SDK. If you or somebody wishes to port that to Python that would be great :)

[2020-07-06 23:35] grkhr opened #475 "google-cloud-firestore v1.8.0 release broke compatibility"
**Environment details**
  * Operating System version: MacOS 10.14.6 / Google Cloud Functions (both broken)
  * Firebase SDK version: 1.8.0 ?
  * Library version: 4.3.0
  * Firebase Product: cloud firestore

**Steps to reproduce**

All methods on cloud firestore has broken. With **v1.7.0** works well.
Error: `module 'google.api_core' has no attribute 'path_template'`

**Code example**
[code]

**Sta

[2020-07-07 00:29] gersongams commented on #475
I'm having the same issue 😫

[2020-07-07 00:34] gersongams commented on #475
@grkhr I downgrade the version using `pip install google-cloud-firestore==1.7.0`, this is working.

[2020-07-07 00:48] grkhr commented on #475
Hotfix

[code]

[2020-07-07 01:23] grkhr commented on #475
**UPD**
google-cloud-firestore just [released fix in 1.8.1](https://github.com/googleapis/python-firestore/releases/tag/v1.8.1), should work now

[2020-07-07 03:15] hiranya911 commented on #475
Just verified that it works with 1.8.1. Should be all good now.

[2020-07-07 03:15] #475 closed

[2020-07-17 21:44] hiranya911 commented on #471
This should be fixed now. Installing firebase-admin now pulls the latest versions of google-auth which contain the necessary fix.

[2020-07-17 21:44] #471 closed

[2020-07-17 21:47] hiranya911 commented on #467
Storage Python client is developed at https://github.com/googleapis/python-storage. Please report the issue there.

[2020-07-17 21:48] #466 closed

[2020-07-27 10:52] skywritergr commented on #287
I've been having a similar (?) issue and I was wondering if this is related. I have an a Python app in Google Cloud Run. That container is sometimes stopped (if not enough usage) I guess in a way that could classify as a disconnection of sorts.

I am instantiating the firebase connection like so:
[code]

The weird thing is that my application is working fine for some time and then randomly starts

[2020-07-27 17:07] hiranya911 commented on #287
@skywritergr you're using Firestore and therefore is unrelated to this issue. I'd suggest reporting directly at https://github.com/googleapis/python-firestore

[2020-07-30 19:03] Nim1304 opened #479 "__init__() got unexpected argument 'status'"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2020-07-30 19:06] hiranya911 commented on #479
Duplicate of #262

[2020-07-30 19:06] #479 closed

[2020-07-31 22:09] hiranya911 commented on #282
Closing this based on the fixes that have been made to the google-cloud-firestore package.

[2020-07-31 22:09] #282 closed

[2020-08-04 14:42] MilkyWayGalaxyUser commented on #294
same ISSUE!

[2020-08-15 09:49] charlesabetzntt opened #481 "Requested entity was not found - Multicast message"
Hi

I am having difficulty understanding why one device token will fail, but if I use that token in the Cloud Messaging Console (https://console.firebase.google.com/) it works as expected, ie: sends the notification to the device.

The Registration tokens are stored in a db and are retrieved and placed into array list.

Below code works for most devices, but seems to fail for iPhone 10 with "Reque

[2020-08-15 22:48] LucasAschenbach opened #482 "FR Cannot filter for document id in queries"
Apparently, at the moment there is no functioning python client which can filter by document id in queries. Usually, this should work by simply putting `__name__` as field value in any where/order clause like in this example:

[code]

However, this code will throw the following exception:
[code]

[2020-08-17 17:22] hiranya911 commented on #482
The value of the `where` key must be a `DocumentReference`:

[code]

[2020-08-17 17:22] #482 closed

[2020-08-17 17:49] chong-shao commented on #481
Hi @charlesabetzntt , it will be helpful to know the registration token, project id, and full sample request / response for investigation on this type of issues. I'd suggest starting from https://firebase.google.com/support and filing a support ticket. Thanks!

[2020-08-17 17:49] #481 closed

[2020-08-18 01:47] ChristopherDrum opened #483 "create_ios_app OAuth limitation too strict"
* Operating System version: macOS 10.15.5
* Firebase SDK version: v3.0.1
* Library version: v4.3.0
* Firebase Product: admin

### [REQUIRED] Step 3: Describe the problem
I use a python script on Xcode Server to register new bundle identifiers with Firebase App Distribution.
This is similar (though modified) from what I used to do when Fabric was the distribution method for our various internal pro

[2020-08-18 17:00] hiranya911 commented on #483
Does not repro to me. Can you try catching the above exception and then logging its `http_response` property?

[code]

[2020-08-19 04:14] ChristopherDrum commented on #483
@hiranya911 Well, thank you for that troubleshooting info.
It turned up some useful information, rather than the original generic "UnknownError"

[code]

[2020-08-19 04:28] ChristopherDrum commented on #483
OK, found the documentation here
https://firebase.google.com/support/faq

[code]

[2020-08-19 06:19] ChristopherDrum commented on #483
So this isn't really a python SDK issue, but really just a Firebase general issue. I'll elevate to the proper team.

[2020-08-19 06:19] #483 closed

[2020-08-19 16:53] hiranya911 commented on #483
Thanks for reporting your findings @ChristopherDrum. We will also try to improve the SDK implementation so the error details are more visible to the developers.

[2020-08-25 19:15] doylep commented on #294
Writing to confirm that this issue is still out in the wild. Is there a recommended workaround?

[2020-08-25 19:25] BenWhitehead commented on #294
Ongoing work to figure out the root cause of this issues is happening over on https://github.com/googleapis/python-firestore/issues/18. As of now, there is not a known reliable work around.

[2020-08-25 19:45] doylep commented on #294
Thanks for the update. I will resort to restarting the call every minute for now.

[2020-08-25 19:56] schmidt-sebastian commented on #294
Closing this as we will continue to track the progress in https://github.com/googleapis/python-firestore/issues/18

[2020-08-25 19:56] #294 closed

[2020-09-01 10:59] mr-bjerre opened #487 "InvalidIdTokenError due to line break in "aud". Looks like a bug"
### Describe your environment

  * Operating System version: python:3.8-slim (docker image) running in minikube
  * Firebase SDK version:
  * Library version: 4.3.0
  * Firebase Product: auth

### Describe the problem

I have deployed a FastAPI application in minikube which exposes an endpoint that uses `auth.verify_id_token`. When I run that I get the following error

![Screenshot from 2020-09-01

[2020-09-01 11:26] mr-bjerre commented on #487
It turns out that having

[code]

instead of

[code]

fixes the issue. It still seems like a bug to me.

[2020-09-01 17:42] hiranya911 commented on #487
Check the `project_id` field in the service account. It seems to contain some invalid character or extra spaces.

[2020-09-01 20:55] mr-bjerre commented on #487
I'm not sure actually. I just did `gcloud auth login` and then I used `minikube addons enable gcp-auth` so the pods run with my end user credentias (I assume)

[2020-09-01 22:31] hiranya911 commented on #487
I'm not familiar with the minikube addon. You can run the following snippet to see the project ID discovered by the SDK.

[code]

Can you share the output of the above?

If the above output indeed contains any special characters, then you will need to dig a bit deeper into the minikube addon and see how it exposes the project ID to the SDK.

[2020-09-02 07:49] mr-bjerre commented on #487
Indeed that is the issue

[code]

You suspect the minikube addon to be the sinner here?

[2020-09-02 17:51] hiranya911 commented on #487
That would be my guess. Or it's an issue in the https://github.com/googleapis/google-auth-library-python library, although I doubt it. To be certain can you also try running the following command in a shell and see what the output looks like?

[code]

Also check either `GOOGLE_CLOUD_PROJECT` or `GCLOUD_PROJECT` environment variables are set in your pod by any chance.

[2020-09-03 07:44] mr-bjerre commented on #487
It seems that the issue has been fixed in [PR](https://github.com/kubernetes/minikube/pull/9164) in the minikube repo.

[2020-09-03 07:44] #487 closed

[2020-09-09 19:30] sudonims opened #488 "Bug: it takes a lot of time to do any operation with firebase admin sdk in python (around 15 mins)"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2020-09-09 21:00] hiranya911 commented on #488
Can you clarify your issue with a clear example please? The code shown above only takes a few milliseconds to run.

[2020-09-10 03:19] sudonims commented on #488
If you see I've also put the flask output there about the requests it are making...when it prints 'trying' it is before the request, trying to decode the auth token...but the process is taking about 10 mins...and once token is verified it goes to GET request part where db operation takes 1- 1.5 mins...You can see the timestamp there ....

[2020-09-10 17:58] hiranya911 commented on #488
Without a minimal and complete repro it's impossible to make out anything. The APIs you describe are widely used, and are often tested by our CI. I think a network glitch or some other environment-specific issue better explains what you observed.

[2020-09-10 17:58] #488 closed

[2020-09-18 21:26] hiranya911 commented on #295
Deduping with #710 which specifies the same requirement in a more generalized way.

[2020-09-25 20:47] dhaval-mehta opened #493 "FR: Implement Retry for HTTP 502"
* Operating System version: Ubuntu 16.04 LTS
  * Firebase SDK version: 4.3.0
  * Firebase Product: Push Notification
  * Python Version: 3.8.5

### Describe the problem

Got error while sending Push Notification

```Unexpected HTTP response with status: 502; body: <!DOCTYPE HTML>...```

#### Steps to reproduce:

Happens randomly on the Production Server.

### Possible Solution:

Implement retry Wh

[2020-09-25 20:51] hiranya911 commented on #493
This is not a normal error condition. @chong-shao can you take a look? Seems the FCM backend service is experiencing some issue.

As for retries, we can only return 503 and certain 500 errors (as per https://cloud.google.com/apis/design/errors#error_retries). Also the above error message says "try again in 30 seconds". So an automated retry is not really feasible.

[2020-10-03 09:51] chimeno opened #495 "FR: Append token to messaging.SendResponse object"
It would be useful in order to manage users token to retrieve them when a making batch requests.

Below an example of  I'm trying to do.

[code]

[2020-10-05 18:18] hiranya911 commented on #495
You can implement this with the existing APIs:

[code]

The array indices of the responses correspond to the array indicates of the messages.

[2020-10-05 18:18] #495 closed

[2020-10-13 18:44] chong-shao commented on #493
It's hard to tell what the issue is given the provided information. But if the time occurred on Sep. 25 this might be due to the outage that had large impact on that day.

Is the error still happening?

[2020-10-20 12:25] chaitanya4288 opened #496 "count of users does not match"
Operating System version: MacOS Catalina 10.15.6
Firebase SDK version: 7.14.3
Library version: 4.3.0
Firebase Product: auth

The user count shown in the console and the count obtained by iterating all the users via admin sdk don't seem to match.

In the console, under the authentication section, the count can be seen in the pagination information.

![image](https://user-images.githubusercontent.co

[2020-10-23 06:55] chaitanya4288 commented on #496
Hello team, any update on this issue?

[2020-10-23 08:11] stasnovogursky commented on #493
My production server's hosted in Azure and it has been experiencing the same problem since begging of October 2020...
There were several periods in hour or two when on staging it worked properly even without retry.
My current retry policy is 2-4-8-16-32 seconds but still no luck! And it doesn't mean that sum delay ~ 62+ sec, FCM replies with 502 in seconds! up to 20-30 seconds, so real delay could

[2020-10-23 22:04] hiranya911 commented on #496
Doesn't repro on our test projects. But they also don't have as many users (only around 400 users).

@bojeil-google is it possible the UI displays duplicates in certain cases?

[2020-10-26 02:56] bojeil-google commented on #496
This is a known issue in the total counter. I think there are cases where the counter goes off due to duplication. If the counter is off in the UI, please file a bug with [support](https://firebase.google.com/support) to reset it.

[2020-10-26 13:42] tycooperaow commented on #454
What about handling multiple firestore cloud storage?

[2020-10-26 18:44] Zhipan1 opened #498 "FR: Some way of knowing if a listener thread has died"
##Describe your environment

  * Operating System version: OSX 10.15.7
  * Firebase SDK version: 4.4.0
  * Firebase Product: database

##Describe the problem

Event listeners run in a separate thread so if `ListenerRegistration._start_listen` throws an exception, then the listener will die [link](https://github.com/firebase/firebase-admin-python/blob/master/firebase_admin/db.py#L121). The user has

[2020-10-29 20:19] #467 closed

[2020-11-03 03:46] RaymonDev opened #499 "Problem Installing firebase-admin Python 3.9"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version:  Windows 10 Python 3.9
  * Firebase SDK version: _____
  * Library version: Latest
  * Firebase Product: Realtime database

### [REQUIRED] Step 3: I can't install the firebase-admin library

#### Relevant Code:

Traceback (most recent call last):
  File "c:\users\propietario\appdata\local\programs\python\python39\lib\r

[2020-11-03 20:13] lahirumaramba commented on #499
This looks like a known issue in `pip 20.0`:
- https://github.com/pypa/pip/issues/7620
- https://stackoverflow.com/questions/59842600/importerror-cannot-import-name-sourcedistribution-from-pip-internal-distrib
If you are on `pip version 20.0` try upgrading to a more recent version.

[2020-11-03 20:13] #499 closed

[2020-11-11 18:26] AashishDhakal opened #501 "pathlib and Django v3.1 Compatibility"
* Operating System version: Windows 10 home single language
  * Firebase SDK version: _____
  * Library version: 4.4.0
  * Firebase Product: auth

Recently with Django 3.1 release, the previous os.path library was removed and pathlib is introduced for maintaining the file paths. The class type returned by os.path is str while pathlib returns its own pathlib.Path class type.

This raises ValueError

[2020-11-14 00:58] hiranya911 commented on #501
This is WAI as far as I can tell. We can look into relaxing our argument validation logic in the future to accommodate other path like types. But for now the workaround suggested as 1 above should be simple enough to implement for most users.

[2020-11-23 21:36] ETsagkaris opened #502 "Python SDK and Android SDK have different start_at filtering methods"
I am using Firebase for a project of mine. In Android I can do a query like this:

`mDatabase.child(dbRoot).child("Order").orderByChild("user_id").startAt(user.getUid(), "the order id to start
 from").endAt(user.getUid()).limitToFirst(15)`

In "Order" object, I keep all orders made from all users. The Query gives a user's orders with pagination (it brings them in groups of 15). The problem is that

[2020-11-23 22:25] hiranya911 commented on #502
I'm not sure if the underlying REST API supports that style of queries: https://firebase.google.com/docs/database/rest/retrieve-data

@yuchenshi do you know?

[2020-11-23 22:28] ETsagkaris commented on #502
Note that the given Query works exactly as explained in Android SDK, and I hope for Python SDK to make it work as also

[2020-11-23 22:47] ETsagkaris commented on #502
I tried to reverse engineer the code and stumbled upon the spec params that each SDK sends to decide how to filter the data.
Android spec:
`{
"vf":"l",
"i":"user_id",
"sn":"-MMHKiXeYhzZVSc-ryDP","ep":"OiesWhnrJqaiX7ScUoMDvpE8aSq2","l":1,"sp":"OiesWhnrJqaiX7ScUoMDvpE8aSq2"}`

Python spec:
`{'endAt': '"OiesWhnrJqaiX7ScUoMDvpE8aSq2"',
 'limitToFirst': 1,
 'orderBy': '"user_id"',
 'startAt': '"OiesWhn

[2020-11-24 10:32] karloskar opened #503 "FR: Support for authentication emulator"
* Operating System version: Ubuntu 20.04
  * Firebase SDK version: 8.1.1
  * Library version: 4.4.0
  * Firebase Product: auth

It would be excellent if the Firebase Admin Python SDK could connect to the local authentication emulator. Similar issues exists for [the Go version](https://github.com/firebase/firebase-admin-go/issues/409) and for the [Java version](https://github.com/firebase/firebase-

[2020-11-25 06:28] #496 closed

[2020-11-25 21:40] yuchenshi commented on #502
@hiranya911 I don't work on RTDB any more, but I've got some help from @puf who figured it out:

Basically you can pass the starting node in `startAt` using the format `"value","key"`, like `https://stackoverflow.firebaseio.com/64961237.json?orderBy="vendor"&startAt="a","1"`

In Python code, that is: `params["startAt"] = valueAsJson + ',"' + key + '"'`. Hope that helps.

[2020-11-25 22:23] ETsagkaris commented on #502
Yep seems to be working just fine. I monkey patched it in any case someone has the same issue as me.

[code]

[2020-11-26 00:56] yuchenshi commented on #502
@ETsagkaris Would you consider opening a PR against this repository with your patch? That would help more folks in need and you may be able to remove the monkey-patch in the long run.

[2020-11-26 18:40] SugariuClaudiu opened #505 "Requests incredibly slow on PiZero (Arm)"
Hello,

I have been using firebase on pizero since 1st of Jan 2017 and it worked perfectly up until the day before yesterday.

I was using the pyrebase library, which is no longer supported and has reached end of life. The symptoms would be that the program will just hang.

I thought it was because of the library, so I have updated to python3.7 and installed the admin sdk (which took 4h to build f

[2020-11-28 15:24] among2ch opened #506 "exceptions.FirebaseError does not catch BrokenPipeError"
OS: Debian 10 (buster)
Python: Python 3.7.3
Library: firebase-admin 4.4.0
Product: messaging

#### Error:
[code]
#### Steps to reproduce:
The script was sending push notifications for a long time and suddenly an error appeared.

#### Code:
[code]

[2020-12-01 07:20] aplusm opened #507 "Messaging: Errors with multicast send"
* App Engine environment
  * firebase-admin:  4.4.0
  * Firebase Product: Messaging

### Describe the problem

From time to time, while sending multicast notification from our app engine application, the following issues are reported, all at the same time:

[code]

[code]

[code]

[code]

#### Steps to reproduce:

[code]

[2020-12-01 11:52] alexanderhudym opened #508 "FR: FirebaseInstallations"
Firebase now have FirebaseInstallations features to get installationId and installationToken
I think it would be convenient to verify installation token on backend using this library

[2020-12-01 18:31] hiranya911 commented on #507
This seems to be a known thread-safety issue with httplib2:

https://github.com/googleapis/google-cloud-python/issues/1214
https://github.com/googleapis/google-cloud-python/issues/1346

Also documented at https://github.com/googleapis/google-api-python-client/blob/master/docs/thread_safety.md

Until we figure out a solution, can you try implementing some synchronization logic in your code and see

[2020-12-01 19:04] hiranya911 commented on #506
Given that your error handler is simply logging the error message, you can just catch the parent `Exception` type to catch all possible errors. At least that would be a reasonable temporary workaround.

The problem here is that `googleapiclient` can actually raise a wide range of exception types, but we only handle `HttpError`. We can try to improve that in the future.

[2020-12-01 19:59] hiranya911 commented on #505
If you're seeing the same (or similar) issue with both libraries, and if it started happening out of the blue 2 days ago, it might be an issue with the network or the hardware itself. Pyrebase may be no longer maintained, but I'd still expect the released versions to work without a glitch. Perhaps you should enable debug logs for Python and see where the delay is.

[2020-12-02 23:09] hiranya911 commented on #493
I'm going to close this as I cannot see any immediate action items for this repo. 502 is not an error code we wish to implement retries on (developers can implement it on their end using the new error handling APIs, if they wish).

Developers who are seeing these errors in their deployments should contact Firebase Support with more details about their setup, so we can take a look from the FCM back

[2020-12-02 23:09] #493 closed

[2020-12-03 02:23] stefanadelbert commented on #503
I second this feature request.

[2020-12-03 18:17] yuchenshi commented on #503
b/173548888 for internal tracking purposes.

[2020-12-03 22:28] hiranya911 commented on #507
Related to https://github.com/googleapis/google-api-python-client/issues/1118

[2020-12-03 22:48] hiranya911 commented on #501
Starting from Python 3.6 there's a new `os.PathLike` type that can be used to easily check if `open()` will accept something or not. But we are still supporting Python 3.5, which makes this a bit complicated.

[2020-12-04 01:43] #506 closed

[2020-12-07 10:29] FarmboxPierre opened #512 "Alternative to the 120k limit on rounds for hashed password imports using auth.UserImportHash.pbkdf2_sha256"
I'm looking to migrate users from Django to firebase, below is the code I'm using for testing. The issue I'm facing is that it seems that the passwords have been hashed using 150k rounds when the firebase docs says the maximum is 120k for SHA256: https://firebase.google.com/docs/auth/admin/import-users#python

Is there an alternative?

Here is the error I get:
`ValueError: rounds must not be large

[2020-12-08 19:50] bojeil-google commented on #512
Hey @FarmboxPierre can you file a [support ticket](https://firebase.google.com/support) on this issue?

[2020-12-08 19:58] paulharter opened #513 "FR: Use Firestore client credentials with firestore emulator"
It would be nice to be able to run tests against a local Firestore emulator that respected the credentials in the client, at the moment they are discarded when connecting to the emulator. This would allow tests of firestore rules in python.

This can be done by replacing `grpc.ssh_channel_credentials()` with `grpc.local_channel_credentials()` in the grpc channel when `_emulator_host` is used.

Wou

[2020-12-08 21:54] hiranya911 commented on #513
Thanks for the feature request @paulharter. Couple of points:

1. Firestore Python SDK is developed at https://github.com/googleapis/python-firestore. So any pull requests should be submitted there.
2. Server-side Firestore interactions are not subjected to rules checks (regardless of the credentials being used). This is a known limitation with Firestore at the moment: https://firebase.google.com/

[2020-12-08 22:15] paulharter commented on #513
@hiranya911

1 - Sorry for being in the wrong place. I'll go over there.

2 - The python admin SDK can be used to interact with firestore as if it was a client and it does use the rule checks if you use credentials wrapped round a custom token. This has worked for a while now

Thanks

[2020-12-08 22:45] #513 closed

[2020-12-08 23:31] luispinho opened #514 "Can't access RTDB hosted in the European servers"
### Environment

  * Operating System version: Raspbian 10 (buster) on Raspberry Pi 4
  * Firebase SDK version: firebase-admin 4.4.0
  * Library version: _____
  * Firebase Product: Realtime Database

### The problem
Can't start a Python script referencing an empty RTDB URL that's hosted in the West Europe servers as it gives a `ValueError: Invalid database URL:` error.

I suspect it's because the

[2020-12-09 06:01] FarmboxPierre commented on #512
Done, thanks. Let's see what happens.

[2020-12-09 13:19] embray opened #515 "DeprecationWarning from urllib3"
### Describe your environment

  * Operating System version: `Linux 78a95de467b6 4.15.0-123-generic #126-Ubuntu SMP Wed Oct 21 09:40:11 UTC 2020 x86_64 GNU/Linux`
  * Firebase SDK version: admin-python 4.3.0
  * Library version: 4.3.0
  * Firebase Product: auth

### Describe the problem

#### Steps to reproduce:

urrlib3 version 1.26 introduced a new argument `allowed_methods` to `urllib3.Retry` a

[2020-12-10 21:00] ourcoteam commented on #145
Is there any update ?!

[2020-12-15 20:01] #514 closed

[2020-12-16 05:53] codal-mharkhani opened #518 "firebase admin SDK randomly raises an exception ServiceUnavailable: 503 Socket closed"
* Operating System version: ubuntu 16.04
  * Firebase SDK version: 2.16.0
  * Python version: 2.7 (Django version : 1.9.4)
  * Firebase Product: Firestore

### firebase admin SDK randomly raises an exception 503 (ServiceUnavailable: 503 Socket closed) when I'm trying to perform CRUD operations with or without batched writes.

### Reproduce: Not sure, But maybe the issue occurs when we have more CR

[2020-12-16 09:05] Halo07 opened #519 "firebase admin database url wrong check"
* Operating System version: windows 10
  * Firebase SDK version: 4.5.0
  * Python version: 3.8
  * Firebase Product: database

Realtime database end with "firebasedatabase.app" and in the "db.py" at line 834 is:
`        if parsed_url.netloc.endswith('.firebaseio.com'):
            return cls._parse_production_url(parsed_url, emulator_host)`

This return the error: "Database URL must be a valid UR

[2020-12-16 18:46] lahirumaramba commented on #519
Duplicate of #514
Fixed by #517

[2020-12-16 18:46] #519 closed

[2020-12-16 20:20] hiranya911 commented on #518
Please report Firestore issues directly at https://github.com/googleapis/python-firestore

[2020-12-16 20:20] #518 closed

[2020-12-17 21:04] hiranya911 commented on #515
We currently don't have a direct dependency on `urllib3`. We just use whatever `requests` provides us.

[code]

It seems `requests` already defines constraints on this dependency, but allows 1.26 of `urllib3`: https://github.com/psf/requests/blob/c2b307dbefe21177af03f9feb37181a89a799fcc/setup.py#L47

I'm currently leaning towards the first option you've suggested.

[code]

Will take another close

[2020-12-23 05:09] chintan2181997 commented on #460
You guys just saved from a heart attack. I spent my whole day trying to figure out the cause and truncation was the issue. Thanks guys.

[2021-01-03 19:54] allentv opened #521 "FR: Remote Config Support"
Node and Java have full support for Remote Config. I had worked on a PR for the Remote Config spec for `Golang` few months ago and was wondering if there are plans for Python support?

[2021-01-03 20:09] allentv opened #522 "EOL for Python 3.5"
As per this release note for [3.5.10](https://www.python.org/downloads/release/python-3510/), v3.5 has reached end of life.

[2021-01-03 20:19] allentv commented on #307
I would expect the response the SDK to match the response from a similar REST API (if available) which in this case doesn't seem to happen. How expensive is the `get_metadata` call?

[2021-01-03 20:21] allentv opened #523 "FR: Split dev dependencies into separate file"
I see a difference in the list of dependencies in `requirements.txt` and `setup.py` which I would assume because they are updated separately. Would it be easier to have the list of dependencies in just `requirement.txt` and read them directly from `setup.py`? The non-essential ones (related to development) can be added to a separate file called `dev.requirements.txt`

[2021-01-04 09:10] allentv opened #524 "Support for Python 3.9"
Python 3.9 is [out](https://devguide.python.org/#status-of-python-branches). I would like to add support for this version.

[2021-01-05 17:40] lahirumaramba commented on #521
Hi @allentv,
Thank you for the feature request! Adding Remote Config support to Admin Python SDK is something we plan to work on. Unfortunately, I cannot promise you a timeline as we have not started any work on this yet. This issue will track the progress once we start working on this feature.

Thanks again for contributing to the Admin Go SDK! As always, we greatly appreciate contributions to th

[2021-01-05 18:31] hiranya911 commented on #523
`setup.py` is used by Python package managers.

`'requirement.txt` is meant to be used by developers and CI workflows that have access to the full source code checked out from the repo.

Beyond that we don't intend to make any distinction.

[2021-01-05 18:31] #523 closed

[2021-01-05 18:35] hiranya911 commented on #524
It should already work on Python 3.9 even if it's not documented. Did you have any problems installing on Python 3.9?

[2021-01-06 08:22] allentv commented on #521
I am interested in working on the API proposal. What are the next steps?

[2021-01-06 08:22] allentv commented on #524
Nothing yet. Just wanted to make sure the version is mentioned in the docs

[2021-01-06 20:31] hiranya911 commented on #524
Our [docs](https://firebase.google.com/docs/admin/setup) already indicate our Python requirement as 3.5+ (3.6+ recommended). Updating CI and package metadata is nice, but I don't think it's too urgent. We will get to it in the coming weeks.

[2021-01-07 20:55] #524 closed

[2021-01-13 16:19] RomikimoR commented on #512
Hello @FarmboxPierre, did you find a workaround to migrate your users from django to firebase ?

[2021-01-14 05:36] FarmboxPierre commented on #512
Hello!

No I didn't get any return from the ticket I filed.

One possible workaround would have been to create a custom form for our user to login, matching against Django's credentials and simultaneously save the new hash of the login to firebase.
We decided it was not worth the hustle and just reset our users' passwords.

[2021-01-21 12:54] Keramblock opened #528 "We need auth emulator suit support/or any workaround"
To provide integration tests to my team - I need to have ablitiy to create test users, login and create requests with token. Could you please suggest me any way to solve that problem?

[2021-01-21 18:59] hiranya911 commented on #528
Duplicate of #503

[2021-01-21 18:59] #528 closed

[2021-01-22 10:15] Keramblock commented on #503
So, any news about it?

[2021-01-25 19:18] lahirumaramba commented on #521
Hi @allentv !
That is great! You can start by [proposing an API](https://github.com/firebase/firebase-admin-go/issues/391#issuecomment-696375466) similar to what we did in the Go repo. Please also refer to the released RC APIs in Admin Node.js and Java SDKs.
Let me know if you have any questions or need help working on the API proposal.
Once we agree on an API surface here I can start the internal

[2021-01-28 11:20] brauli0 commented on #524
- OS: macOS Big Sur Version 11.1
- Python version: 3.9.0
- pip version: 20.2.3

Hi! I'm new here, sorry if I'm misunderstanding something but I can't install firebase-admin with pip:
[code]
There is a problem with `grpcio`. I'd like to know if there is a way to make it work without downgrading python as suggested in some forums. Thanks.

[2021-01-28 11:54] brauli0 commented on #524
I've just solve the problem upgrading pip to version 21.0

[2021-02-01 09:25] Keramblock commented on #503
@hiranya911 ?

[2021-02-01 12:40] Riglanto opened #529 "Firebase with nameko"
Calling firebase admin from nameko rpc results in blocked api calls to:

[code]

I've even created as SO post about that - you can see more details here: https://stackoverflow.com/questions/65959369/firestore-https-calls-blocked-inside-the-nameko-rpc-function

Difficult to say if that's an issue or async calls are still not supported as discussed here: https://github.com/firebase/firebase-admin-py

[2021-02-01 18:37] hugo53 opened #530 "Unable to install on Macbook M1"
Hello there,

I have an issue with `grpcio` when install firebase-admin via pip on my Macbook M1 (MacOS v11.0.1 (20B29)). Please check the log below for more details. Can you guys help me on this? Thanks in advance!

[code]

[2021-02-01 20:32] hiranya911 commented on #503
Nothing new to share. Although we do accept pull requests. Somebody just implemented this feature for our [Go SDK](https://github.com/firebase/firebase-admin-go/pull/414). If somebody can port that change into this repo, we can take a look and get it ready for an upcoming release.

[2021-02-01 20:34] hiranya911 commented on #529
Not familiar with nameko. You should probably try running the [`google-cloud-firestore`](https://pypi.org/project/google-cloud-firestore/) package directly within your framework to see if that's supported.

[2021-02-01 20:38] hiranya911 commented on #530
Seems to be a known issue: https://github.com/googleapis/python-firestore/issues/285

Should really be addressed by the grpc team (they don't seem to be providing a distribution compatible with the Apple M1 right now).

[2021-02-01 20:38] #530 closed

[2021-02-04 14:55] xmo-odoo commented on #515
Checking, are there news on the subject?

Also @hiranya911 as-given the solution seems risky: the parameter is slated for removal in urllib3 2.0, which would have a minor version < 26, so going with a version check, the entire thing should probably get checked.

Alternatives:
* inspect the signature of the ctor, and use `allowed_methods` if it's present
* `try` to create the `Retry` object with `a

[2021-02-05 09:22] pquentin commented on #515
Right, please sniff features instead of versions. As recommended in https://github.com/urllib3/urllib3/issues/2057#issuecomment-727207327, using this would be safer:

[code]

[2021-02-05 20:37] hiranya911 commented on #515
Would anybody like to send a quick PR for this?

[2021-02-07 18:33] hugo53 commented on #530
I resolved the problem by using `/usr/bin/python3` instead of `/opt/homebrew/bin/python3` (M1 native) with this command on Terminal (set Open with Rosetta).
[code]

[2021-02-07 20:36] darekfrynas commented on #512
I just faced the same issue, but seems like Django provides a way to update iterations (aka. rounds)

Check this link for details: https://docs.djangoproject.com/en/3.1/topics/auth/passwords/#increasing-the-work-factor

[2021-02-07 20:41] LeonardoRick commented on #30
What about Firestore support? Can I authenticate a user with limited privilege for this specific service?

[2021-02-07 20:59] LeonardoRick commented on #107
does this library have a `signInWithCustomToken()` vesion in python? I'm trying to connect a client python application

[2021-02-08 07:54] xmo-odoo commented on #515
@hiranya911 #532

[2021-02-08 14:30] Keramblock commented on #503
@muru thanks for the fix!
@hiranya911 could you please take a look? =)

[2021-02-08 20:03] hiranya911 commented on #107
This library doesn't provide any client-side APIs at the moment.

[2021-02-08 20:12] hiranya911 commented on #30
Firestore server libraries do not offer a limited privilege mode: https://firebase.google.com/docs/firestore/security/overview

[2021-02-08 22:59] LeonardoRick commented on #107
@hiranya911 thanks. Any suggestion to achieve my goal?

[2021-02-08 23:10] hiranya911 commented on #107
You can try the REST API: https://firebase.google.com/docs/reference/rest/auth#section-verify-custom-token

Requires a web API key to access.

[2021-02-10 20:12] #515 closed

[2021-02-12 21:55] hiranya911 commented on #529
I'm going to close this. If the problem continues to exist, I'd suggest reaching out to the Firestore Python project or the Nameko community.

[2021-02-12 21:55] #529 closed

[2021-02-25 19:22] jrlindell commented on #530
did this cause any problems with your ability to call it from an editor?

[2021-02-26 11:18] hugo53 commented on #530
I'm not sure much, only tried on Terminal Rosetta.

[2021-03-02 15:41] GabrieleCalarota commented on #507
Same issue
traceback

[code]

[2021-03-02 16:59] catalin-florescu opened #534 "AndroidNotification.event_timestamp in past 51 years ago when is set"
When sending a multicast notification and setting `event_timestamp` as `event_timestamp=datetime.now()`, in Android notification appears to be in past when received (**51 years ago**). If param is removed from `AndroidConfig`, notification will appear received as **Now**.

  * Operating System version: mac os big sur
  * Firebase SDK version: tested with 4.4.0 and 4.5.2
  * Firebase Product: messa

[2021-03-02 17:22] lahirumaramba commented on #534
Hi @catalin-florescu!
Just FYI, the `event_timestamp` in `AndroidNotification` converts a `naive` `datetime` instance to UTC timezone.. though I doubt that could be the problem in your case. To further investigate this issue could you try the following, please?

In your code, try logging the result of `datetime.now()`.
[code]
Additionally, you can create a date time `aware` instance (with a timezo

[2021-03-02 17:48] catalin-florescu commented on #534
Hi @lahirumaramba, thanks for your quick replay.

The output of
[code]
is
[code]
so this can't be problem.

Creating an aware datetime instance with any configuration (even set in future) gives me the same result, 51 years ago.

[2021-03-02 17:58] lahirumaramba commented on #534
Thank you for confirming the output of `datetime.now()` @catalin-florescu

@chong-shao do you have any ideas on what might be going on here? :)

[2021-03-05 09:13] catalin-florescu commented on #534
I'm thinking that could be an Android problem, is not singular [(see here)](https://stackoverflow.com/questions/59560153/fcm-in-android-notification-payload-event-time).

Firebase admin is sending correct date. Also tried using Google PlayGround and Postman and the same error, received ```event_timestamp``` is converted to start of UNIX time.

[2021-03-10 23:55] gzamb opened #535 "Auth call timeout option"
Using firebase-admin sdk v4.0.0 for python3.8.
We have recently noticed that one of our time sensitive services is struggling due to long calls on `auth.verify_id_token` function.  We'd like the option to have a timeout for the actual request call that happens here, since it does appear that the google-auth library allows you to set a [timeout](https://google-auth.readthedocs.io/en/latest/referenc

[2021-03-11 01:30] hiranya911 commented on #535
We don't make any direct HTTP requests in `verify_id_token()`. We simply call [`google.oauth2.id_token.verify_token()`](https://google-auth.readthedocs.io/en/latest/reference/google.oauth2.id_token.html#google.oauth2.id_token.verify_token). It is that library that makes the request to [fetch certificates](https://google-auth.readthedocs.io/en/latest/_modules/google/oauth2/id_token.html#_fetch_cert

[2021-03-11 18:33] daniellehanks commented on #535
It looks like google.oauth2.id_token.verify_token() just takes a generic `google.auth.transport.Request` interface. Swapping out `requests` for `urllib3`, which does support setting a global timeout on its [connection pools](https://urllib3.readthedocs.io/en/latest/reference/urllib3.connectionpool.html) could be another option?

[2021-03-11 18:37] daniellehanks commented on #535
Additionally, it looks like [this call](https://github.com/firebase/firebase-admin-python/blob/873aa7c10f32d1f07ce28dde6dc5414e7583afd3/firebase_admin/_user_mgt.py#L596) (made when `check_revoked=True`) does not pass a timeout either?

[2021-03-11 19:44] hiranya911 commented on #535
I'd rather implement one of the workarounds (e.g. subclassing the `requests.Session`) than taking a direct dependency on urllib3.

That call goes through our own `_http_client.HttpClient` which sets a default timeout on all requests.

https://github.com/firebase/firebase-admin-python/blob/873aa7c10f32d1f07ce28dde6dc5414e7583afd3/firebase_admin/_http_client.py#L35
https://github.com/firebase/fireba

[2021-03-11 20:45] daniellehanks commented on #535
Yes, that's exactly what I meant. It is that call that keeps hanging on the service we are having problems with. We have had to temporarily disable `check_revoked`.

[2021-03-11 21:17] hiranya911 commented on #535
Ok, thanks for clarifying. I can hopefully find some time to fix that next week. You can also help speed things along by sending a PR.

[2021-03-12 03:53] daniellehanks commented on #535
@hiranya911 I think I've got a fix for the simpler part (respecting app options httpTimeout in UserManager), but I'm having trouble pushing. Last I committed to a google-owned repo (python spanner), the workflow was to fork the repo. There aren't specific instructions covering this in the contributor guide. This is the error I'm getting:

[code]

If you could help me get this resolved, I will happ

[2021-03-12 20:28] daniellehanks commented on #535
It might be good to put that in the contributor guide.

[2021-03-12 23:32] hiranya911 commented on #534
@chong-shao can you please take a look when you get a chance?

[2021-03-19 23:49] hiranya911 commented on #535
This fix was included in the last release.

[2021-03-19 23:50] hiranya911 commented on #534
@chong-shao do you have any updates? I believe some fixes are being made in the backend to address this issue? If so may be we can reference the internal issue number and resolve this.

[2021-03-20 00:02] chong-shao commented on #534
We identified the cause of the problem with the event_time field. The fix has been implemented and verified. The expected fix deployment time is mid next week.

[2021-03-20 00:03] daniellehanks commented on #535
Thanks for the swift release. We've just updated 3 of our services in production. My PR though only added a timeout on one of the two outgoing network calls. There still needs to be timeout instrumentation on the transport given to `google.oauth2.id_token.verify_token()`. Can we reopen this ticket to reflect that work @hiranya911 ?

[2021-03-23 18:10] #503 closed

[2021-03-24 02:53] chong-shao commented on #534
The fix has been deployed in the backend. @catalin-florescu please let us know whether the issue is still occurring on your end. Thanks!

[2021-03-24 18:19] chong-shao commented on #534
Close since we verified the fix on backend on our side. Feel free to close if the issue still exists on your side. Thanks!

[2021-03-24 18:19] #534 closed

[2021-03-25 19:20] #535 closed

[2021-03-26 17:27] daniellehanks commented on #535
Thanks for getting the other half patched @hiranya911!

[2021-03-29 17:47] catalin-florescu commented on #534
@chong-shao now is working. Thanks for your help. Sorry for late answer.

[2021-04-08 20:21] bradreardon commented on #104
It seems that an async-based auth flow was added to `google-auth` in September of last year: https://github.com/googleapis/google-auth-library-python/blob/master/CHANGELOG.md#1220-2020-09-28
https://github.com/googleapis/google-auth-library-python/pull/612

Are there any plans to make this library async-compatible now that its dependencies seem to have done so?

[2021-04-09 17:23] lahirumaramba commented on #104
Good news! We are prioritizing this task and have plans to start the initial planning work over the coming months. It is still too early to provide a timeline, but I will reopen this issue so we can track the progress here. Thank you everyone for your patience!

[2021-04-16 23:34] phaolin10 opened #543 "Failed to import firestore"
Traceback (most recent call last):
  File "C:\Users\ismail\AppData\Local\Programs\Python\Python36\lib\site-packages\firebase_admin\firestore.py", line 22, in <module>
    from google.cloud import firestore # pylint: disable=import-error,no-name-in-module
  File "C:\Users\ismail\AppData\Local\Programs\Python\Python36\lib\site-packages\google\cloud\firestore.py", line 18, in <module>
    from google

[2021-04-16 23:36] phaolin10 commented on #543
from flask import Flask, json, request, jsonify
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
from google.cloud import firestore

app = Flask(__name__)

@app.route('/',methods=['GET'])
def show_all():
    cred = credentials.Certificate("./service_key.json")
    firebase_admin.initialize_app(cred)

    db = firestore.client()

    docs = db.collec

[2021-04-17 00:30] hiranya911 commented on #543
You probably need to upgrade your Python version. See following issues:

https://github.com/psf/black/issues/1666
https://github.com/beetbox/beets/issues/3143
https://stackoverflow.com/questions/65798315/importerror-cannot-import-name-noreturn-pytorch-on-macos-catalina

[2021-04-17 00:35] phaolin10 commented on #543
I tried but it doesn't work.
Does anyone have a better idea ?

[2021-04-19 16:58] hiranya911 commented on #543
What exact version of Python did you try on?

[2021-04-19 22:02] phaolin10 commented on #543
I tried 3.6.0 and 3.7.0 and finally resolve this problem with python 3.9.2 version.

[2021-04-19 22:02] #543 closed

[2021-04-20 18:39] #522 closed

[2021-04-21 13:47] GabrieleCalarota commented on #506
Sorry to reopen this, but I'm getting quite a few BrokenPipeError as long as ReadTimeout when sending_multicast notifications from server-side. Why are these errors thrown and what is a possible workaround for this?

[2021-04-23 13:33] sedrakk commented on #506
Getting same errors when trying to multicast a message and except doesn't work:
`    try:
        response = messaging.send_multicast(message)
    except Exception as error:
        print(f'Something went wrong: {error}')`

[2021-04-23 21:47] #501 closed

[2021-04-24 15:52] serialmonk commented on #512
can you share you solution, it would be great help :)

[2021-04-30 18:33] jdsutton7 opened #548 "New document ID not unique after fork"
If firebase_admin is imported before os.fork(), auto-generated document IDs are repeated causing data to be overwritten.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Linux Mint 20
  * Firebase SDK version: 5.0.0
  * Library version: _____
  * Firebase Product: firestore

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Import firebase_admin

[2021-04-30 19:02] hiranya911 commented on #548
Here's the output I'm getting on 3 separate runs:

[code]

[2021-04-30 19:04] hiranya911 commented on #548
If you can consistently reproduce the issue I'd advise directly reporting on the Firestore Python project at: https://github.com/googleapis/python-firestore

They should be able to help you out.

[2021-04-30 19:04] #548 closed

[2021-05-06 01:00] imesimone opened #551 "Illegal Instruction"
Hi,
I've just installed with pip3 this package (firebase_admin) on a Raspberry Pi Zero W (with the latest Rasbian w/o desktop environment). Everything is updated (even _apt update / upgrade_ has been tried). No missing dependency.

When I try to import firestore from firebase_admin, Python 3.7 crashes and reports "Illegal instruction".
Nothing more and, obviously, it is not possible to understand

[2021-05-06 17:44] hiranya911 commented on #551
My guess is the version of Firestore or gRPC installed is incompatible with your system. You should be able to repro this by directly importing Firestore as follows:

[code]

Can you check if that's the case? If so you might have to report a bug at https://github.com/googleapis/python-firestore to get the proper assistance resolving it.

[2021-05-07 09:12] #551 closed

[2021-05-07 14:14] nketia opened #552 "auth.create_session_cookie throws exception when expires_in argument is provided"
**Please help with this issue.**

auth.create_session_cookie(custom_token, expires_in) TypeError: create_session_cookie() takes 1 positional argument but 2 were given. Below is my code

custom_token = flask.request.headers.get('Authorization')
            expires_in = datetime.timedelta(days=5)
            print(expires_in) # 5 days, 0:00:00
            session_cookie = auth.create_session_cookie(

[2021-05-07 18:08] cblegare opened #553 "Make available objects.inv for intersphinx"
Hello there!

We'd love to be able to cross reference our documentation with firebase_admin's, just like we can with other Google Cloud SDK library using intersphinx!

You simply need to make avaible a objects.inv file somewhere in the API reference web site, juste like https://googleapis.dev/python/logging/latest/index.html (see https://googleapis.dev/python/logging/latest/objects.inv)

[2021-05-07 19:27] hiranya911 commented on #553
@kevinthecheung do you know if this is feasible.

[2021-05-07 19:29] hiranya911 commented on #552
Doesn't reproduce to us. Following code woks as expected:

[code]

Can you provide a minimal repro for us to test?

[2021-05-13 21:12] mpokrass opened #554 "FR: Allow a custom retry policy for firebase cloud messaging"
Hi there!

It seems as though there is currently no way to supply a different retry policy when initializing an app (it's not one of the options specified [here](https://firebase.google.com/docs/reference/admin/python/firebase_admin#initialize_app), like httpTimeout). This would be useful for customization, as we'd like to modify some of the settings set [here](https://github.com/firebase/firebase

[2021-05-14 22:32] hiranya911 commented on #554
This is something we should add to all our Admin SDK implementations.  It's not a very high priority feature right now, so I don't think it will happen immediately. But, we can continue to discuss and gather requirements here.

[2021-05-15 14:31] mcookhome commented on #506
I also am seeing this issue with send_multicast

[2021-05-15 17:14] allentv commented on #521
I unfortunately don't have free time to work on this. Could you assign this to someone else who might be interested?

[2021-05-17 15:25] lahirumaramba commented on #521
No problem! Thank you for you interest @allentv! We highly appreciate it!

[2021-05-18 03:01] mumu2001 commented on #507
I encountered a same issue.
How should I deal with it?

[code]

[2021-05-18 17:54] hiranya911 commented on #507
For now you will have to synchronize the calls to `send_multicast()`.

[2021-05-19 09:21] GabrieleCalarota commented on #507
@hiranya911 Can you clarify with giving a little bit more details on your reply?

[2021-05-19 09:31] mumu2001 commented on #507
send_multicast() calls send_all() to requests multi POST asynchronize.
I gave up this and decided to use topic.

[2021-05-19 09:33] GabrieleCalarota commented on #507
Thanks, I use send_multicast() because it might happen that I want to notify same user with different token notification (because of different device) . How topic would solve this particular case scenario in your opinion? @mumu2001

[2021-05-19 10:15] mumu2001 commented on #507
@GabrieleCalarota
In your scenario,
I think it's easy to simply call send() synchronous loop.
Topic subscribe is useful when you want to distribute more clients with one request.

[2021-05-19 10:17] mumu2001 commented on #507
It would be best if the SDK created http client for each request :)

[2021-05-19 10:18] GabrieleCalarota commented on #507
But isn't a send() with a loop is the same (at least semantically) as the send_multicast? I have multiple tokens I want to send a notification to, and this is it. Even if I quite understand your point, I don't get how and why this solves my issue. Also I'm using the send_multicast as a generalized notification process, which is synchronous though. So If I would have to put that loop as a job task

[2021-05-19 18:00] hiranya911 commented on #507
I think for most developers, putting the `send_multicast()` call behind a lock should be sufficient to avoid the multithreading issues.

You can also try calling `send()` in a loop, but it would be a lot slower than `send_multicast()`.

[2021-05-23 09:13] shahargl commented on #161
Any updates?

[2021-05-26 01:58] cblegare commented on #553
I've looked around the firebase github org and didn't find any documentation repo.  I guess this is built internaly somewhere with this repo as a submodule.  I can tell Sphinx is used to render the HTML with a quick source inspection, so the objects.inv must be built at some point.  Since the API reference is rendered for multiple language, maybe the URLs sphinx knows about would not be the right

[2021-05-27 04:34] ShreyashAnpat commented on #282
i have facing same problem , jot in to android studio and sign in android studio with same email account . and give the permissions  and refresh the database

[2021-05-27 22:48] hiranya911 commented on #552
Closing this due to lack of information.

[2021-05-27 22:48] #552 closed

[2021-05-30 10:57] alexmojaki commented on #512
@darekfrynas did you actually manage this? Surely it's impossible (or at least computationally infeasible) to *decrease* the number of rounds without knowing the original password, so you'd have to wait for the user to login?

I was excited to see that firebase supported many different hashing algorithms for importing users, so this was a really disappointing limitation to run into.

From those sa

[2021-05-30 12:24] Mattinton commented on #512
I put in a feature request for this and got this response:

`This sounds like a good candidate for a feature request, in fact I've found some other requests in the past and the team is checking for options. As an action, I’ve filed a new request on your behalf, this will increase the priority on this matter since more developers depend on this feature.

Please note that filing a feature request do

[2021-05-31 07:44] cvipul commented on #507
I am using celery to send multicast messages and get this error in case of concurrent requests :

[code]
How can I make the SDK use a connection pool to handle this as well as optimise the number of connections being made to the FCM server?

[2021-06-01 08:07] nicolabaldo81 commented on #305
,

[2021-06-04 00:20] tsikerdekis opened #555 "Firebase emulator, query collection gets stuck under pipenv environment"
* Operating System version: Ubuntu 20.04
  * Firebase SDK version: 9.12.1
  * Library version: firebase_admin - 4.4.0
  * Firebase Product: Emulator

I have the following code:

[code]

Works without issues on my general python environment and under my pipenv environment when connecting to google cloud.

My pipenv environment is:

[code]
When I have the emulator on however, it works under my main

[2021-06-04 17:31] hiranya911 commented on #555
Might have to report directly at the Python Firestore client: https://github.com/googleapis/python-firestore

[2021-06-04 17:49] hiranya911 commented on #555
@crwilcox @schmidt-sebastian FYA

[2021-06-04 18:08] tsikerdekis commented on #555
Thank, I found a related issue:
https://github.com/googleapis/python-firestore/issues/359

[2021-06-10 10:08] Jihadik opened #556 "Custom token has invalid signature"
### Environment
  * Operating System version: OSX 10.15.7
  * Library version: 5.0.0 (also tried in 4.5.3)
  * Firebase Product: auth

### Problem
Custom tokens that are created via `firebase_admin` have invalid signature.

### Reproduction
1. Go to your Firebase account "Project Settings" -> "Service Account" and click "Generate new private key". Download it and put it locally
2. Execute in conso

[2021-06-10 17:54] hiranya911 commented on #556
That's not a useful way to validate these tokens. You need to pass them to the Firebase Auth service, or actually use them in a Firebase client SDK to perform a login. jwt.io do not have the keys required validate our custom tokens.

[2021-06-10 17:54] #556 closed

[2021-06-10 19:07] hiranya911 commented on #556
You will probably have to check with the FlutterFire team. We know for sure that the custom tokens generated by this library is accepted by the Firebase Auth backend. Here's our integration test for this use case:

https://github.com/firebase/firebase-admin-python/blob/527a8245e1ba461817be3f38ac142a0563daeb4d/integration/test_auth.py#L119-L123

[2021-06-10 19:50] lahirumaramba commented on #556
@Jihadik how do you send the token from the Flutter side? The token might be truncated.. make sure you are sending the full token.
Also, despite getting the "Invalid Signature" on [jwt.io](https://jwt.io) you should still be able to decode the token and view its properties. The project id in the `iss` field of the token should match the project id of your client app is using. It should look someth

[2021-06-11 07:30] Jihadik commented on #556
@lahirumaramba, thanks for your suggestion, but I checked that before posting here :)
1. I was printing tokens on the server side as well as the client side and they are identical
2. I'm able to decode tokens on [jwt.io](https://jwt.io) and all the parameters are set correctly

[2021-06-12 23:15] Jihadik commented on #556
It turned out the server was corrupting tokens. `create_custom_token` returns a binary string, which then when passed to DRF `serializers.CharField` converted it to `"b'token'"` string.

[2021-06-29 14:31] finnatsea commented on #530
I am still having this problem, I'm not sure why the issue was closed.

If you try to install firebase-admin on an Apple Silicon machine, python will try the setup wheel for grpico and fail. I'm on the m1 macbook air and I've tried it with python 3.8.2, 3.9.4, and 3.9.5. All the versions failed. I've tried it in a venv and globally, both failed.

Can someone explain what the above command does to

[2021-06-29 21:58] JennyCGT commented on #506
I also have this same issue, when I am using send_multicast. I am using it in Django +Celery hosted in Elastic Beanstalk.

Traceback (most recent call last):
File "/usr/local/lib/python3.7/site-packages/celery/app/trace.py", line 450, in trace_task
R = retval = fun(*args, **kwargs)
File "/usr/local/lib/python3.7/site-packages/celery/app/trace.py", line 731, in __protected_call__
return self.run(*a

[2021-07-02 21:33] hiranya911 commented on #555
Closing as a duplicate.

[2021-07-02 21:33] #555 closed

[2021-07-06 15:11] the-kool-sk commented on #351
https://stackoverflow.com/questions/53304517/how-to-retrieve-image-from-firebase-storage-using-python

this might help you @aminm2a

[2021-07-07 11:46] SonicRoshan opened #560 "Can't Retrieve Data From Firestore On Linux Network"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2021-07-07 17:05] hiranya911 commented on #560
Please report at https://github.com/googleapis/python-firestore

[2021-07-07 17:05] #560 closed

[2021-07-08 03:23] SonicRoshan commented on #560
Ok, thanks for the help

[2021-07-09 05:45] DotSyndicate opened #561 "Firebase RTDB Listener doesn't work with FastAPI"
I have posted the same issue on the FastAPI repository as well. So, please bear with me.

Here is my code for a Firebase RTDB data collection:
firebase_config.py:
[code]

main.py:
[code]
This problem may or may not be related to FastAPI as such. But here's the thing:
I have a project that uses Firebase RTDB, I want to maintain a copy of the same locally on my server. This server will be used to pr

[2021-07-09 23:03] hiranya911 commented on #561
Works for me:

[code]

Notice how the "Listener Started." has been logged 3 times along with the corresponding event data.

[2021-07-10 12:22] DotSyndicate commented on #561
@hiranya911, do you mind sharing your code? Because I don't know why the same isn't working for me....

[2021-07-12 13:47] DotSyndicate commented on #561
@hiranya911, I don't think it would have worked with just my code. So, that is why I am asking this. If you can please share your code, then I will be able to close the issue.

[2021-07-12 17:21] hiranya911 commented on #561
It's the exact same code, just put in the same file for simplicity:

[code]

[2021-07-13 08:28] DotSyndicate commented on #561
Hi.
I think the error might be because of the port. I was using port 80 for my uvicorn server. I changed it and it worked. I don't know for sure. Thanks for the support.

[2021-07-13 08:28] #561 closed

[2021-07-21 17:48] abe-winter commented on #530
the dependency here is firebase-admin -> google-storage -> resumable-media -> crc32c

fwiw I solved this in my codebase by forking firebase-admin, then removing the google-storage dependency in setup.py

firebase-admin can sort of survive without google-storage, depending on exactly which features you need

if you need google-storage functionality, another option might be to fork the resumable-med

[2021-07-30 08:10] gasserDominikGKN opened #563 "Migrate Users from keycloak to Firebase with Python"
* Operating System version: Windows 10 - WSL2
  * Python version: Python 3.8.10

We have switched from Keycloak authentication to Firebase authentication and I need to migrate the users from Keycloak to Firebase using Python.
These users were stored by Keycloak in a Postgres DB. I used the Admin SDK to get the users out of the Postgres DB and have already successfully saved them to Firebase, using

[2021-08-02 12:39] tedescolor commented on #454
What about handling multiple messaging? Really thanks

[2021-08-02 16:56] hiranya911 commented on #563
If the salt is stored as a base64 encoded string, you have to decode that before passing it to Firebase. The code above only seems to decode the password hash.

[2021-08-03 06:00] abel-castro commented on #506
I am also having this issue using `send_multicast` and `send_all` in my Django + Celery setup.
My solution was to try/catch the BrokenPipe errors, get the firebase app again and retry the send_* command.

For that I created a `retry_send_all` and a `retry_send_multicast`:

[code]

[2021-08-03 06:37] gasserDominikGKN commented on #563
thanks for the help, now with base64 salt it works as expected.

[2021-08-03 06:37] #563 closed

[2021-08-03 12:34] VictorBebnev opened #564 "Access token cannot be revoked in google account settings"
* Operating System version: Ubuntu 20.04
  * Firebase SDK version: 4.5.3
  * Firebase Product: auth
  * Python version: 3.7.10
  * Pip version: 21.1.1

#### Steps to reproduce:
1. Create a project with [google 0Auth](https://support.google.com/cloud/answer/6158849?hl=en)
2. Login with Google 0Auth
3. Make sure the access or refresh token is valid.
4. Go to user GA settings: Manage your Google Acco

[2021-08-03 19:14] hiranya911 commented on #564
This project has no bearing over Google OAuth2. Please file an issue against Google Cloud support.

[2021-08-03 19:14] #564 closed

[2021-08-16 14:34] pin-yu commented on #460
Hey guys, we could get the complete token string by using `log()` method.

In my case,
`debugPrint(idToken)` can only print 1014 characters of my token string.
`log(idToken)` print 1146 characters which is a complete token string.

[2021-08-18 09:42] VictorBebnev commented on #564
This is not possible to push an issue for this component from [this page](https://cloud.google.com/identity-platform/docs/support).
Because [the link](https://issuetracker.google.com/issues/new?component=458130&template=1136497) is dead.
In the end, there is only one way - to pay for tech support. Haha, I discovered a security issue with your service, and I need to pay to pass it on to you? I just

[2021-08-18 17:25] hiranya911 commented on #564
"Our service" is Firebase, which is independent from Google OAuth and Google Analytics. If you think you have found a bug in Firebase, you can file a case here (it's free for all Firebase users): https://firebase.google.com/support/troubleshooter/report

[2021-09-01 17:39] kevinthecheung commented on #553
Hi Charles,

We started publishing the `objects.inv` file today: https://firebase.google.com/docs/reference/admin/python/objects.inv

Sorry this took so long! I don't get issues assigned to me often, so I wasn't looking out.

Please re-open if this isn't working.

[2021-09-01 17:39] #553 closed

[2021-09-01 20:25] takos22 opened #569 "[FR] Type hint the source code"
**Is your feature request related to a problem? Please describe.**
When developing with this library, I constantly have to type hint variables returned by the functions, so my autocompleter suggests the right properties and for cleaner code.

**Describe the solution you'd like**
It would be great if you could type hint the library or at least the public API in order to help type checkers, autocomp

[2021-09-01 22:06] lahirumaramba commented on #569
Hi @takos22, Thank you for the feature request!
We agree that this will be a great addition to improve the SDK. While I cannot promise you a timeline at the moment, we will use this github issue to track the progress in the future.

In the meantime, you can also help us speed things up by providing PRs! :)

[2021-09-04 17:17] PaulRudin opened #570 "[FR] Add support for storage emulator"
The python admin sdk does not appear to support the firebase storage emulator. Other emulators are supported, and the node sdk has this support.

[2021-09-08 11:04] davidwtbuxton opened #571 "Very slow performance with firebase_admin.auth.list_users().iterate_all()"
* Operating System version: n/a
  * Firebase SDK version: firebase-admin==5.0.2
  * Firebase Product: auth, user management
  * Python version: 3.8
  * Pip version: n/a

### [REQUIRED] Step 3: Describe the problem

When fetching all user accounts using the firebase_admin.auth.list_users().iterate_all() helper, performance is very poor, taking about 5 seconds to fetch 1000 users.

I have a project

[2021-09-08 21:01] #571 closed

[2021-09-14 02:43] Provinm opened #573 "[FR]Add data statistics api in firebase admin sdk"
hi,

i'm developing a web page using firebase messaging part, i met some questions

- sdk has no api to count how many devices subscribe to a specified topic, but firebase console can
- sdk has no api to count how many users opened the message, but firebase console can

so i wonder if it's possible to integrate some data statistics api in this sdk?

[2021-09-15 13:49] MoSehsah opened #574 "[FR] Getting all users within a tenant"
**Is your feature request related to a problem? Please describe.**
as a developer using tenant management, I need to be able to fetch all users by providing a tenant id

**Describe the solution you'd like**
A method that's part of the SDK should provide this functionality

**Describe alternatives you've considered**
An alternative is to keep track of all the created users but this can cause discre

[2021-09-15 17:28] hiranya911 commented on #574
[code]

[2021-09-15 17:28] #574 closed

[2021-09-15 18:28] MoSehsah commented on #574
Thanks !

[2021-09-15 19:24] jimcasteleiro opened #575 "[FR] allow google-api-core[grpc] 2.X.X"
I'm using `firebase_admin` in a project which has other services that interact with Google APIs. I would like to upgrade `google-api-core` to version 2, however, we are blocked by the requirement that `firebase_admin` use `google-api-core[grpc] >= 1.22.1, < 2.0.0dev`. and would like to change that to `< 3.0.0dev`.

Locally, I've run the test suite against `google-api-core[grpc]==2.0.1` and all of

[2021-09-15 20:20] hiranya911 commented on #575
Should be ok. I see that Firestore has already updated their requirement: https://github.com/googleapis/python-firestore/blob/51c92aa45156c5462f35991f65c02dcac49aacc3/setup.py#L31

[2021-09-17 22:26] hiranya911 commented on #575
Thanks for the PR. Change has been merged, and will be included in the next release.

[2021-09-17 22:26] #575 closed

[2021-09-19 10:00] AndreaGiardini opened #577 "Unable to create session cookie for tenant users"
Hey everyone

I am setting up a python application and I would like to use firebase for authentication.
For normal users the login flows works fine, my problem comes when I start using tenants.

---

When a user authenticates to my app, it gets a token and then, after verification, the token is exchanged for a long-lived session cookie. As mentioned before, this works great for normal users.

I am

[2021-09-19 12:25] AndreaGiardini commented on #577
I found this thread of ~1 year ago... Is that still the case?

When I try to simulate the request here:

[code]

I get:

[code]

[2021-09-20 07:50] hardikns opened #578 "[FR] add ability to remove provider via python admin sdk"
**Is your feature request related to a problem? Please describe.**
`deleteProvider` field for updateUser has been documented and implemented in other admin SDK like nodejs. Its missing in the python admin sdk

**Describe the solution you'd like**
Add the feature in the python admin sdk as well that will allow users to delete providers (like google.com, facebook.com) when email address changes for

[2021-09-20 17:19] hiranya911 commented on #577
It is now supported in the backend, but was never exposed in the Python SDK. We can accept a PR to add this capability if anybody can spend some time on it.

It is available in our Node.js SDK if you want to see how it's implemented.

[2021-09-20 18:05] AndreaGiardini commented on #577
hey @hiranya911

[2021-09-22 03:40] hardikns commented on #578
@hiranya911 - I have created a PR for the same. #579 pls have a look and see if we can accept it.

[2021-09-22 19:14] AndreaGiardini commented on #577
@hiranya911 Sorry to bother

I've tried different combinations from the web API Explorer but i always get the UNSUPPORTED_TENANT_OPERATION error.
Since i can't get the API call to succeed i am not sure how can I implement the function in code.

Can you please point me in the right direction?

[2021-09-23 13:07] AndreaGiardini commented on #577
Hey @hiranya911

I ran an experiment using this patch over here: https://github.com/AndreaGiardini/firebase-admin-python/commit/0e620efe84821338379cf4e4768ebf2fd49dfd59

The method I am using is calling `session_cookie = auth.create_session_cookie(id_token, expires_in=expires_in, tenant_id=dashboard.firebase_tenant_id)` but I still get the same error. The request path and payload look good to me.

[2021-09-23 19:41] hiranya911 commented on #577
@bojeil-google do you have any ideas? I can't seem to find any integration tests that exercise this route, so I cannot confirm that it works.

[2021-09-23 20:06] maccman commented on #161
This is pretty bizarre that it's not in the official API.

[2021-09-23 20:15] bojeil-google commented on #577
Hey @hiranya911, I don't believe our backend supports tenant scoped session cookies.
We will eventually support them but if I recall correctly, we decided at that time that we would implement the client side changes (relying on the backend error) so that when the backend API works, it wouldn't require additional client side changes. I believe our documentation does not document support for session

[2021-09-24 06:57] AndreaGiardini commented on #577
@bojeil-google thank you for the clarification, that makes sense.
Do you have an ETA for backend support for tenant-scoped session cookies? That would be pretty useful

[2021-10-25 08:43] eremeevfd opened #583 "Import problem"
* Operating System version: docker image python:3.9 (debian bullseye)
  * Firebase SDK version: firebase_admin-5.0.3
  * Firebase Product: auth
  * Python version: 3.9
  * Pip version: 21.2.4

#### Steps to reproduce:
Hello everyone!
I've got some import problem while importing auth module today:
[code]

#### Relevant Code:

[code]

[2021-10-27 17:07] MishalJasmine opened #584 "Firebase admin Packages are throwing error in GCF"
Hi,

I am not able to deploy a cloud function. The error seems to be in the packages. In the requirements file, some of the packages that I am using
`google-cloud-firestore==1.7.0`
 `google-cloud-storage>1.30.0`
`numpy>=1.18.0`
`firebase-admin==4.3.0`

**Error:**
(gcloud.functions.deploy) OperationError: code=3, message=Function failed on loading user code. This is likely due to a bug in the user

[2021-10-27 18:06] #584 closed, assigned to nobody

[2021-10-28 06:23] hishamkaram opened #585 "There are incompatible versions in the resolved dependencies"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Mac OS 11.6
  * Firebase SDK version: _____
  * Firebase Product: database (auth, database, storage, etc)
  * Python version: Python 3.9.2
  * Pip version: 4.5.3  , 5.0.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
could not install `firebase

[2021-10-28 12:35] MishalJasmine opened #586 "403 Missing or insufficient permissions while using Firestore in a Container"
I have built a container which uses the Cloud Storage and Firestore. I am able to access the storage but not firestore. The service account I am using is a Owner.

**DockerFile:**

`WORKDIR /usr/src/app`
`COPY packages-file.txt requirements.txt`
`RUN pip3 install -r requirements.txt`
`COPY cred.json cred.json`
`ENV  GOOGLE_APPLICATION_CREDENTIALS "/usr/src/app/cred.json"`
`COPY . .`
`CMD ["main.py

[2021-10-28 19:28] #586 closed, assigned to nobody

[2021-11-02 18:17] hishamkaram commented on #585
@junha6316 i fixed that by add `proto-plus="==1.19.6"` as the first package in Pipfile ex:
[code]
then:
[code]

[2021-11-10 17:06] chong-shao commented on #573
Hello @Provinm , thanks for the request. Currently we don't have plan to support the 1st item (but we have plan to support listing topic subscriptions for a registration, see https://github.com/firebase/firebase-admin-java/issues/594)

For the 2nd request we are working on it, please stay tuned. Thanks again!

[2021-11-16 20:29] amks1 opened #588 "Random and Frequent "OSError" with Realtime Database listeners"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Debian GNU/Linux 10 (buster)
  * Firebase SDK version: 5.1.0
  * Firebase Product: realtime database
  * Python version: 3.8.5
  * Pip version: 21.3.1

Note: It's running inside a docker container, the OS and python versions are from inside the container.

### [REQUIRED] Step 3: Describe the problem

Randomly getting `

[2021-11-16 23:17] lahirumaramba commented on #588
Looks like an `openssl` issue to me. Could you check your SSL version on your system by running `openssl version`?
Does your app use a proxy by any chance?

[2021-11-18 07:23] eremeevfd commented on #583
@hiranya911 issue in httplib2 is closed now

[2021-11-21 17:18] halhwadi opened #589 "Unable to embed link, image and icon in notification"
### [REQUIRED] Step 2: Describe your environment

I have added link to notification for android via click_action however its not redirecting  (note: the message got been sent and displayed properly and no error been shown), also image and icon not working

I don't know if manifest. Json file is required to map activities with their corresponding urls so activity name can be assigned to click_actio

[2021-11-22 18:47] lahirumaramba commented on #589
`image` takes a complete valid URL to an image file. Could you try with a full image url, please?

`click_action` is a name of an activity with a matching intent filter in your app.
https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

Also, please use stack overflow for usage questions in the future.

[2021-11-22 18:47] #589 closed

[2021-11-22 18:50] lahirumaramba commented on #589
Thank you for pointing out the improvements in the code samples. We will look into expanding the code samples there!

[2021-11-22 19:20] halhwadi commented on #589
Thanks for your reply...

I have changed the replace the url with full path and added image to messaging.Notification but image still not shown at all..

for click_action, The redirecting will be to web-app not to mobile-app, so any suggestion where I can implement intent filter for website and how it can be managed if each notification needs to redirect to different url ?

[code]

[2021-11-22 21:27] chong-shao commented on #589
Hello @halhwadi Could you try again with an image http url (e.g., one starts with http)

[2021-11-23 05:37] halhwadi opened #590 "Link doesn't work in firebase_admin.messaging.WebpushFCMOptions(link=None)..Django"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: __windows 10___
  * Firebase SDK version: ___5.1.0__
  * Firebase Product: Cloud messaging
  * Python version: _3.9___
  * Pip version: _____
  * framework django

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

In brief, link in WebpushFCMOptions not working at all, this is not usage issue, ther

[2021-11-23 06:15] halhwadi commented on #589
hello
I tried and it works smoothly on web chrome , but not working on mobile chrome and i dont know if it works on iphone browser "Safari", please find the modified message object after placing the full path using https://.......
please note: I use Django and I can call url from model instance and it works once on mobile chrome...really weird

`multi_notifi = messaging.MulticastMessage(notificati

[2021-11-23 10:53] halhwadi commented on #589
Its fixed, I'm using external website to publish my localhost site temporary on https to avail geolocation service for testing purposes, and I got different domain each time I published it which interrupt the process of testing, and once I removed all previous sites from notifications only then it works as expected...

[2021-11-23 11:34] #590 closed

[2021-12-06 16:32] theobouwman opened #592 "Network Access Required When Validating id-token"
why is network access required to do `firebase_auth.verify_id_token(token)`?

Isn't it possible to do this without accessing Google APIs?

[2021-12-06 18:17] hiranya911 commented on #592
Token is verified against a public key certificate that must be fetched from a remote API. It's done only once, and then cached for up to 24 hours.

[2021-12-06 18:17] #592 closed

[2021-12-14 11:04] GabrieleCalarota opened #593 "[FR] When is AppCheck gonna be integrated in python firebase-admin SDK?"
**Is your feature request related to a problem? Please describe.**
I really would like to protect my Python Backend (FastAPI) with Firebase AppCheck

**Describe the solution you'd like**
Have firebase AppCheck directly into firebase-admin SDK

**Describe alternatives you've considered**
Run NodeJS inside python environment (is this a safe thing to do?)

**Additional context**
![image](https://user

[2021-12-14 16:47] cblegare commented on #553
Thank you @kevinthecheung !

[2021-12-15 22:09] lahirumaramba commented on #593
Hi @GabrieleCalarota,
Thank you for the feature request. We do not have any plans to implement the App Check Python API on our immediate roadmap. However, we will use this issue to track any progress we make on this front. We also accept pull requests if someone in the community wants to work on this :)

[2021-12-15 22:11] lahirumaramba commented on #588
Closing this since there are no new updates. Feel free to reopen if you still have this issue. Thanks!

[2021-12-15 22:11] #588 closed

[2021-12-16 11:28] GabrieleCalarota commented on #593
Thanks, do you have a list of activity in order to make this integration? I can't promise, but it's something we would really like to have in our backend.

[2021-12-20 22:09] miksa commented on #104
Hi! Is there any update about this feature ? I saw a pull request to use new version of the google-auth api, would that fulfill prerequisites ?

[2021-12-28 17:29] bringert opened #598 "[FR] Complex database queries should support realtime updates"
**Is your feature request related to a problem? Please describe.**
There is currently no listen() function for complex queries. This means that you for example cannot listen for realtime updates on the result of order_by_child().

This feature is supported by the underlying REST API, and also in the pyrebase Python client library.

**Describe the solution you'd like**
A listen() function in the Qu

[2021-12-28 18:26] bringert opened #599 "Database Reference.listen() is very slow for large responses"
### Describe your environment

  * Operating System version: Linux raspberrypi 4.19.97+ (On a Raspberry Pi Zero W)
  * Firebase SDK version: 5.2.0
  * Firebase Product: database
  * Python version: 3.7.3
  * Pip version: 18.1

### Describe the problem

Reading a large event in response to calling Reference.listen() is extremely slow on a Raspberry Pi Zero. This looks very similar to https://github

[2022-01-06 11:27] GabrielBlondeau-Kirby opened #601 "[Auth] verify_id_token raises RecursionError"
**Thank you for submitting your issue. We are operating at reduced capacity from Dec 17 2021 to Jan 4 2022. Please expect delayed responses. For more urgent requests please reach us via our support channels https://firebase.google.com/support**

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Linux - Ubuntu 20.04
  * Firebase SDK version: 5.2.0
  * Firebase Product:

[2022-01-07 15:57] lahirumaramba commented on #601
We have [nightly](https://github.com/firebase/firebase-admin-python/runs/4739795779?check_suite_focus=true) integration [tests](https://github.com/firebase/firebase-admin-python/blob/684bd248b5aa6d4ae07eae7c1cd6b0e098a1e325/integration/test_auth.py#L119) set up on the `verify_id_token` API and I don't see any test failures there. Would you be able to provide us with a minimal but complete repro fo

[2022-01-07 19:11] arsikurin opened #603 "Standard library `distutils` module will be removed in Python 3.12"
### Description
Standard library `distutils` module is deprecated in Python 3.10 and scheduled for removal in Python 3.12 [(reference)](https://docs.python.org/3.10/whatsnew/3.10.html#distutils).

Importing distutils in Python 3.10 generates the following warning:
[code]
Path to error: `google/cloud/firestore_v1/services/firestore/client.py:17`

### Environment
  * Operating System version: macOS

[2022-01-10 14:37] GabrielBlondeau-Kirby commented on #601
Hi @lahirumaramba

I'll try to provide you a simple github project asap.

Thank you

[2022-01-13 14:57] Ppang0405 commented on #543
Same when using python 3.10.1, using python 3.9.9 fixed it.

[2022-01-14 07:36] GabrielBlondeau-Kirby commented on #601
@lahirumaramba Sorry for the delay ...
I created a small project in order to reproduce the bug, unfortunately nothing is going wrong so no `Recursion Error` :thinking:

We can close the issue for now I guess :(
Sorry for the trouble...

[2022-01-14 14:34] lahirumaramba commented on #601
No problem! I will close this issue for now. We can reopen later if needed.

[2022-01-14 14:34] #601 closed

[2022-01-20 01:33] brunomarks7 commented on #188
Thanks a lot!

[2022-01-28 06:32] CodeWithVallabh opened #604 "Requirements for firebase-admin Python in buildozer?"
I'm developing an app in Python Kivy which uses firebase-admin module also. So, please tell me the requirements needed for firebase-admin to be mentioned in buildozer requirements

Like, ```import requests``` needs
[code]
Please help me, I'm searching the firebase-admin buildozer requirements from 10 days.

Thanks in advance

[2022-01-31 11:41] bobatsar commented on #503
Hi there, isn't this already published via PyPi? Seems to be included since 5.0.0.
Shouldn't then the table in https://firebase.google.com/docs/emulator-suite/install_and_configure#admin_sdk_availability be updated to reflect that it is working with python?

[2022-01-31 20:05] lahirumaramba commented on #503
@bobatsar You are correct! We just updated the table in https://firebase.google.com/docs/emulator-suite/install_and_configure#admin_sdk_availability. Thank you bringing this to our attention.

[2022-02-02 09:56] GabrielBlondeau-Kirby commented on #601
The only clue I can give is:
It start working right after I removed the **monkey patch** from Eventlet lib.

[2022-02-04 17:40] lahirumaramba commented on #604
Hi @CodeWithVallabh this is not a platform we officially support so we haven't tested the admin sdk on Python Kivy. However, I found [this on SO](https://stackoverflow.com/a/67813675). See if the [configuration](https://stackoverflow.com/a/67813675) mentioned in the SO answer works for you. In the future, please use StackOverflow for usage questions. Thanks!

[2022-02-04 17:40] #604 closed

[2022-02-04 17:45] lahirumaramba commented on #593
You can start by proposing the public API interface (use the Node.js API as an example).

In the meantime you can follow the steps on [this blog post](https://firebase.googleblog.com/2021/10/protecting-backends-with-app-check.html) (see `Verifying App Check tokens in other backend resources`) the recommended way to secure your non Node.js custom backend.

[2022-02-06 01:35] brenhr opened #605 "Firestore limit_to_last(n) returns the first n elements in a reverse order instead of returning the last n elements"
### Describe your environment
- SDK version:  5.2.0
- Python version: 3.10.2
- Pip version: 21.2.4
- Firebase product: **Firestore**
### Describe the problem
As per the documentation for [limit_to_last](https://googleapis.dev/python/firestore/latest/query.html#google.cloud.firestore_v1.base_query.BaseQuery.limit_to_last) clause, it should return the last n elements that match the query. However, w

[2022-02-07 08:58] GabrieleCalarota commented on #593
Thanks for the info provided, I've actually found a workaround in the meantime (My Backend Resource is in Python / FastAPI) to add a middleware call to firebase cloud functions which verifies the app check token and returns 401 or 200 (API exposed on cloud functions) and since firebase cloud functions runtime supported is now node.js

This is a temporary workaround, considering the high volume of

[2022-02-11 11:06] subham9777 opened #606 "importing firestore keeps giving error version `GLIBC_2.33' not found"
Hello,

I have been using firestore for a lot of projects and recently i have started facing this issue when i started using firestore on a raspberry pi. I have a very generic setup of pi with raspbian buster on a raspberry pi 4. i have created a virtual environment and when i do a from firebase_admin import firestore i get a Traceback error which is this:

Traceback (most recent call last):
  Fil

[2022-02-11 22:00] lahirumaramba commented on #606
Raspberry pi is not a platform that we official support, but looking at the error logs it looks like the `glibc` on your system is not compatible with what `grpcio` (required by `google-cloud-firestore`) is looking for. You should be able to find out what your `glibc` version is by running `ldd --version`. If the current `glibc` is outdated try updating your system. I also came across [this](https

[2022-02-11 22:00] #606 closed

[2022-02-11 22:05] lahirumaramba commented on #605
The Admin SDK uses the `google-cloud-firestore` module. Could you ask this issue on the [cloud firestore repo](https://github.com/googleapis/python-firestore), please?
https://github.com/googleapis/python-firestore

[2022-02-11 22:05] #605 closed

[2022-02-12 10:50] ra1111 opened #607 "Firebase Admin SDK Python throwing error suddenly"
Trying to Fetch and modify data from the real-time database. No code change was done, working fine till yesterday.
Tried creating a new key, disabling service, updating packages. Nothing seems to work.

The code is used in Python Firebase Admin SDK. It is used to get and modify data from the real-time database.
I am using firebase_admin to access Firebase Realtime Database.
[code]
It is throwing e

[2022-02-12 19:29] hamad-9 opened #608 "how to install and use firebase-admin-python sdk on raspberry pi 4 model b armv7l"
I'm trying to connect the raspberry pi to the firestore
I downloaded the package using the following command
sudo pip install firebase-admin
this is my code

[code]
and when I run the file the following error occurs

/usr/bin/python /home/pi/Desktop/moneybank/database.py
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/firebase_admin/firestore.py", line 22, in <mod

[2022-02-13 13:14] pradyotprksh commented on #607
I also started facing the same issue.

`
        cred = credentials.Certificate(cert=Constants.Variables.FIREBASE_CRED_FILE_PATH)
        firebase_app = firebase_admin.initialize_app(
            credential=cred,
            name=Constants.Variables.PROJECT_NAME
        )
`

After initialisation I am creating a user,

`
            user = auth.create_user(
                email='user@example.com',

[2022-02-14 04:30] ra1111 commented on #607
So I figured it out, there was an outage in airtel in India. If you are using airtel try the same with JIO connection, should work.

[2022-02-14 04:36] pradyotprksh commented on #607
I was not on Airtel. I checked my network connection is good. I also made a http request before the firebase call, it worked correctly.

[2022-02-14 10:01] fkowal commented on #577
Hey, All

I am experiencing the same issue using [firebase-admin java client](https://mvnrepository.com/artifact/com.google.firebase/firebase-admin/8.1.0)

also tried testing it using both
https://cloud.google.com/identity-platform/docs/reference/rest/v1/projects/createSessionCookie
and
https://cloud.google.com/identity-platform/docs/reference/rest/v1/projects.tenants/createSessionCookie

in all c

[2022-02-14 15:50] #607 closed

[2022-02-14 16:16] lahirumaramba commented on #608
Rpi is not an official platform we support. However, I came across [this](https://github.com/grpc/grpc/issues/20400) doing a quick search on your error. There are a couple fixes mentioned in that thread.

In the future, please use Stack Overflow to ask usage questions. Thanks!

[2022-02-14 16:16] #608 closed

[2022-02-16 07:09] dgildeh opened #609 "Using Auth Client with Emulator without Credentials Doesn't Work"
After a lot of debugging, it looks like this is the line that is the bug - instead of catching a google.auth.exceptions.DefaultCredentialsError and passing, its trying to catch an AttributeError:

https://github.com/firebase/firebase-admin-python/blob/5e88d927757e61023e274cd8b00270d899fdf513/firebase_admin/__init__.py#L260

This is crashing my requests to get a user via a Rest API using the librar

[2022-02-16 10:38] ankitmaloo opened #610 "Firebase with Python 3.9 giving an SSL error"
### [READ] Step 1: Are you in the right place?

Step 2: Describe your environment

  * Operating System version: MAC OSX 11.6 BIg Sur
  * Firebase SDK version: 5.0.2
  * Firebase Product: firestore/ admin SDK (auth, database, storage, etc)
  * Python version: 3.9
  * Pip version: 22.0.3

### [REQUIRED] Step 3: Describe the problem
I am trying to use admin SDK to connect to firebase - using the ser

[2022-02-16 18:47] lahirumaramba commented on #609
Hey @dgildeh could you share a bit more on how you set up your environment? Below is what I tried and it seems to be working for me.
[code]

[2022-02-16 19:30] dgildeh commented on #609
Hi sure:

1. Firebase SDK container installed with Auth/Firestore emulators running inside
2. Backend Python service built inside container with no authentication credentials/gcloud SDK inside with Firebase Admin SDK calling the Firebase Emulator successfully (I've setup the environment variables on the container as you specified already)
3. Both containers running with Docker-Compose locally
4. C

[2022-02-16 20:04] lahirumaramba commented on #610
Could be an `openssl` issue in your environment. Check your `openssl` version by running `openssl version`.
If you can reproduce it please file an issue in [google-cloud/firestore](https://github.com/googleapis/python-firestore/issues) repo.

[2022-02-16 20:39] ankitmaloo commented on #610
Hi @lahirumaramba
On running openssl version, I get this output LibreSSL 2.8.3

How do I fix this and get to the working SSL version? Please let me know what I can do from my end. I also ran python3 -c "import ssl; print(ssl.OPENSSL_VERSION)" and got the output as OpenSSL 1.1.1m  14 Dec 2021. What do i need to do to get firebase working again?

[2022-02-20 06:05] dgildeh commented on #609
I can confirm if I pass in a default projectID when initializing firebase_admin my backend service now works without raising the exception:

[code]

Please change the except line I highlighted in the issue to DefaultCredentialsError and this bug can be closed. This will also make it work as specified in the method comments above that line.

[2022-02-24 17:29] guneemwelloeux commented on #104
Hello! I know the last comment wasn't left here long ago, but as it didn't get any answer, I'm posting another one.
Has a timeline been agreed upon since April 2021, and if there is one, could you please let everyone know here?

Many thanks!

[2022-02-24 18:12] lahirumaramba commented on #104
Thank you again for your patience on this!
This is a high priority task for us and we should start seeing the initial changes sometime in Q2/Q3 2022. I can't promise you a timeline for this feature but rest assured that this is something on our immediate roadmap for this year and you will see updates in the coming months.

[2022-02-27 11:12] cbenhagen opened #611 "[FR] Allow managing of multi-factor users"
**Is your feature request related to a problem? Please describe.**
It would be great if we could manage multi-factor users like described in https://cloud.google.com/identity-platform/docs/admin/manage-mfa-users

**Describe the solution you'd like**
* Add `multi_factor` property to `UserRecord`
* Add `multi_factor` arguments to `create_user` and `update_user`

**Describe alternatives you've consid

[2022-03-01 23:12] m0d9 opened #612 "sending data from Raspberry pi 4 to firebase firestore"
I am trying to send data from raspberry pi 4 to firebase firestore, here is the code
[code]
And here is the problem that I get:
[code]
I tried many solutions like 1- pip install grpcio
2- pip install google-cloud-core
3- pip install google-cloud-firestore
4- pip install firebase-admin
5- Updated python to latest version
And I still get the same error so anyone can help

[2022-03-01 23:16] lahirumaramba commented on #612
Please see #606

[2022-03-09 08:17] aditdiqdpratama opened #614 "[FR] Load GOOGLE_APPLICATION_CREDENTIALS json content via an environment variable instead of a file"
**Is your feature request related to a problem? Please describe.**
i need to load this with env var instead of env var with json file path

**Describe the solution you'd like**
env var instead of file

[2022-03-09 19:55] lahirumaramba commented on #614
You should be able to store the json content of your service account in an environment variable, load the content later and create a new `credentials.Certificate` instance in your app. Please note that it might be less secure to store your service account credentials in an environment variable than storing in a file, as anyone (with access) can check the environment of a running process.

[code]

[2022-03-09 19:55] #614 closed

[2022-04-01 19:01] qhaas commented on #570
We encountered this today, it is listed as 'future' in the [admin sdk emulator support matrix](https://firebase.google.com/docs/emulator-suite/install_and_configure#admin_sdk_availability), hopefully this feature is available soon.

[2022-04-04 10:09] Chenger1 opened #615 "Question: Manage sound and vibration in Firebase Cloud Messaging"
In mobile app user can enable/disable sound and vibration of notifications. But i cant find information about disabling them for notifications.
I made this code:
[code]
In Apple Remote Notification cant find info about vibration options.

Need help to understand how to manage parameters?

[2022-04-08 16:43] #612 closed

[2022-04-12 03:30] sww314 commented on #577
The issue in the public tracker was closed:
https://issuetracker.google.com/issues/204377229

Does this mean the API is now available? And the client libraries need to fixed?

[2022-05-01 20:05] sjsadowski commented on #614
For future people that show up here, since "parsed_json" is ambiguous - the following works:

[code]

[2022-05-03 13:40] wikwok opened #616 "[FR] Enable Google Analytics module in Python-admin for ML/Cloud Apps."
**Is your feature request related to a problem? Please describe.**
I wanted to use Firebase Google Analytics tracking module for an ML app but I was disappointed to find out that this is not currently possible to do in the firebase-admin sdk for Python.

**Describe the solution you'd like**
Track usage and monitoring stats for my Python App. Also, would be great if we get the full solution includi

[2022-05-11 17:39] fatadel opened #617 "A way to provide clock_skew_in_seconds"
The method `verify_token` - https://github.com/firebase/firebase-admin-python/blob/6d826fd15c87db62f7501f569b6e0a762d17a05e/firebase_admin/_token_gen.py#L392 - has an additional parameter called `clock_skew_in_seconds` - https://github.com/googleapis/google-auth-library-python/blob/87cd2455aca96ac3fbc4a8b2f8e4c0bba568a70b/google/oauth2/id_token.py#L114.

However, it is not possible to provide this

[2022-05-17 22:23] kirankbee commented on #262
the issue surfaced again with the pyrebase , requests, and request-toolbelt conflicts.\
Uninstalled urlib3, requests, & request-toolbelt
pip3 install requests-toolbelt>=0.7.0
pip3 install requests>=2.27.1
but the problem resurfaced with conflict of tensorboard
OS : ubuntu

[2022-05-23 12:52] bverhoeve opened #618 "[FR] Send password reset email function"
**Is your feature request related to a problem? Please describe.**
Via `firebase_admin_auth` I'm able to create and manage users. When I want to generate a password reset email through the default Firebase functionality (Firebase sends the email), I'm not able to do this through the Admin SDK, as only `generate_password_reset_link` is supported. I have to resort to sending a REST API call instead.

[2022-05-24 07:57] ihoregym opened #619 "AppStoreId property missing"
Env:

  * Operating System version: macOS Big Sur
  * Firebase SDK version: 5.2.0
  * Firebase Product: project_management
  * Python version: 3.10
  * Pip version: 21.1.2

Problem:

How can I create an iOS app with appStoreId using Project Management API ?

Firebase documentation (https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.iosApps#IosApp) contains definition of

[2022-05-28 16:16] Chenger1 commented on #615
Okay, after all we found some solutions.
Still dont know how to disable vibration with firebase (and if this even possible).
But, to to disable notification sound we used sound file with zero volume.
For IOS its just put this file to app`s folder.
For Android you also have to create a notification channel.

[2022-05-28 16:16] #615 closed

[2022-05-30 05:40] aryann commented on #577
Hi everyone,

I'm also encountering this issue. I noticed that the [discovery doc](https://cloud.google.com/identity-platform/docs/reference/rest/v1/projects.tenants/createSessionCookie) suggests that this functionality exists in the API. However, I have not been able to use the API Explorer to successfully call this method with an ID token that is generated from a tenant integration. Here's the e

[2022-06-01 22:56] eromney commented on #577
Hi aryann,

Could you please provide more context concerning how to reproduce this (what were your steps)?  For example, how was the idToken you passed in generated or where did it come from?  I have tried reproducing this problem with the Node Admin SDK as well as curl commands and have been unsuccessful thus far.

[2022-06-12 12:53] diaconori commented on #530
thank you so much, i've been stuck at this for hours, not being able to find any possible solutions.

[2022-06-13 07:02] santhoshivan23 commented on #618
@hiranya911 I'd like to work on this feature request!

[2022-06-21 22:51] eduardo-bolognini opened #620 "Login"
Hi, I don't now how I do to login. I have seek on google documentation but i don't -  find anythink.

Thank you.

[2022-06-28 20:42] lahirumaramba commented on #620
Did you mean login as you would log users in using Firebase client SDKs? The Admin SDK is a set of server libraries that lets you interact with Firebase from privilege environments. Please take look at the documentation on how to set it up for Python https://firebase.google.com/docs/admin/setup#python

[2022-06-28 20:42] #620 closed

[2022-06-28 20:49] lahirumaramba commented on #619
Thanks @ihoregym for filing this issue. The `appStoreId` property needs to be added to the `create_ios_app()` API.
https://github.com/firebase/firebase-admin-python/blob/6d826fd15c87db62f7501f569b6e0a762d17a05e/firebase_admin/project_management.py#L104

and also added to the internal implementation of the service below.

https://github.com/firebase/firebase-admin-python/blob/6d826fd15c87db62f7501f

[2022-06-28 21:03] lahirumaramba commented on #618
Thank you @bverhoeve and @santhoshivan23. The Admin SDK (including the Node.js SDK) does not support sending emails. You will have to generate the email links and use your own or a third party SMTP sever to send the email.

We have a similar request for Node.js SDK https://github.com/firebase/firebase-admin-node/issues/46 however, the backend APIs currently do not support sending emails and adding

[2022-06-29 15:19] bverhoeve commented on #618
@lahirumaramba, My bad, the function I'm referring to in the issue is the [`sendPasswordResetEmail`](https://firebase.google.com/docs/reference/js/v8/firebase.auth.Auth#sendpasswordresetemail) in the JavaScript client. How come this is not available in the Node.js client?

[2022-07-08 13:11] Courvoisier13 commented on #617
@fatadel could you share how you patched the admin SDK to add `clock_skew_in_seconds=10`?
I am having the same issue.

[2022-07-08 15:24] rbarrette commented on #570
bump.

[2022-07-08 17:58] lahirumaramba commented on #570
Hey @yuchenshi, @christhompsongoogle FYI.

[2022-07-14 13:55] fschaeck opened #624 "auth.verify_id_token fails with 'Token used too early'"
The function auth.verify_id_token may fail for tokens that were issued by servers which have clocks running a little early.

If verification is done right after the token was issued by such a server, then the call to function google.oauth2.id_token.verify_token in _JWTVerifier.verify in firebase_admin/_token_gen.py may be early enough for the 'issued-at-time' timestamp of the token still being in

[2022-07-15 13:10] guneemwelloeux opened #626 "[FR] Add return type annotations for public functions (firestore.client(), storage.bucket(), etc)"
**Is your feature request related to a problem? Please describe.**
VSCode can use Python type annotations to provide a much better experience, and allow completion.

**Describe the solution you'd like**
function signatures should return a return type, to allow completions. For example, in firestore.py
`def client() -> google.cloud.firestore.Client` would allow completion on client().collection("so

[2022-07-15 14:13] lahirumaramba commented on #626
Thank you @guneemwelloeux for filing this feature request. We have started adding type hints to new code (ex: #621) and will eventually add type hints to existing code in the future. In the meantime, if you or anyone in the community would like to send a PR we are glad to take a look. Thank you!

[2022-07-26 19:11] JanTanja commented on #364
I'm also experiencing the same issue. Closing the ListenerRegistration with .close() takes way too long for me - around ~15 ish seconds.

[2022-08-03 21:48] oy321 opened #630 "[FR] Authentication with social media accounts"
**Is your feature request related to a problem? Please describe.**
Is there a way to authenticate users upon registration/login using their social media accounts e.g. Google, FB, Twitter? The firebase doc lists ways using JS etc. but not in Python, and I can't find anything from the firebase admin Python SDK doc neither.

**Describe the solution you'd like**
A feature / function that supports fire

[2022-08-05 02:46] j8741231j opened #632 "raise exceptions.from_grpc_error(exc) from exc google.api_core.exceptions.Unknown: None Stream removed"
When I run my Django project,I get data from firestore and render to a html.
But I will get "None Stream removed" error after my site idle for 5 minutes.

![3](https://user-images.githubusercontent.com/79688797/182990696-da85b5a8-a0d7-4ae8-a5fe-859498de8e23.png)

[2022-08-05 02:46] #632 closed

[2022-08-05 03:23] j8741231j opened #633 "raise exceptions.from_grpc_error(exc) from exc google.api_core.exceptions.Unknown: None Stream removed"
When I run my Django project,I get data from firestore and render to a html.
But I will get "None Stream removed" error after my site idle for 5 minutes.
Please help me to solve the problem.

view.py:
[code]

FirestoreManager.py:
[code]

requirements.txt:
[code]

[2022-08-05 16:26] anialamo opened #634 "AWS lambda Python functions gives error to install the "google-cloud-firestore" module, but is already installed"
Operating System version: AWS Python lambda
Firebase SDK version: firebase-admin 5.2.0
Firebase Product: google cloud firestore
Python version: 3.9

Hi I have an AWS Lambda in Python 3.9 (now regenerated in AWS functions console),I have installed in my local aws folder firebase-admin & dependencies:

[code]
This installation gives me this error:

![image](https://user-images.githubusercontent.com/

[2022-08-07 10:41] catalin-florescu commented on #593
Hello, any updates?
I keep trying to generate a token based #568, but I can't verify it using described [steps](https://firebase.blog/posts/2021/10/protecting-backends-with-app-check). Only firebase generated tokens can be verified.
Thanks.

[2022-08-12 05:59] mirorac commented on #530
This [answer on stackoverflow](https://stackoverflow.com/a/68185347/1353874) worked for me

[2022-08-25 19:43] jkyle109 commented on #104
We just released [v5.3.0](https://github.com/firebase/firebase-admin-python/releases/tag/v5.3.0) which added async support for the Cloud Firestore API. This is the first step into fulfilling this FR so please give it a try and let us know what you think!

[2022-08-28 03:16] abe-winter opened #638 "docs may be wrong for credential param of initialize_app()"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Ubuntu 22.04.1 LTS
  * Firebase SDK version: firebase-admin==5.3.0
  * Firebase Product: initialize_app
  * Python version: 3.10.4
  * Pip version: 22.0.2

### [REQUIRED] Step 3: Describe the problem

The `initialize_app` function says that the `credential` param can be a string and will be treated as a path, here http

[2022-08-28 03:18] abe-winter commented on #638
oops I misread the docs. Ignore me, closing.

[2022-08-28 03:18] #638 closed

[2022-08-30 12:57] CameronTurner commented on #634
This one is doing my head in as well. Have wasted a good 2-3 days trying to load every library under the sun. Would really appreciate someone looking into this.

I have the exact same issue as above

[2022-09-02 09:46] tibbe opened #640 "[FR] messaging.send_all SendResponse should include the device token"
**Is your feature request related to a problem? Please describe.**
Using `send_all` (or `send_multicast`) is (or should be) more efficient that many `send` calls in sequence. However, it loses the ability to identify which tokens failed to send. We need to know which token failed so we can unregister these in our backend (as recommended by [Best practices for FCM registration token management](htt

[2022-09-07 08:08] koushikromel opened #641 "How to login with email and password in firebase from python using Firebase Admin Python SDK?"
This is my first question on GitHub so i thought i should write it as much as detailed if my question was too long kindly excuse me.

I'm using [Pyrebase](https://github.com/thisbejim/Pyrebase)(a third party package to access firebase data) now I'm looking forward to migrate to [Firebase Admin Python SDK](https://github.com/firebase/firebase-admin-python) for all my works i couldn't find this part

[2022-09-13 01:40] christhompsongoogle commented on #570
Hi @vizaiapp, no timeline to share on this just yet but it's still on our radar.

[2022-09-13 06:05] Monish-0101 commented on #634
https://stackoverflow.com/questions/48264536/importerror-failed-to-import-the-cloud-firestore-library-for-python
I have seen this issue here, may be this link will help you out.

[2022-09-15 02:54] arnavmehta7 commented on #641
Hey,
Check below:
`user = auth.create_user_with_email_and_password(email, password)
signin = auth.sign_in_with_email_and_password(email, password)
`

You can sign in with the above

[2022-09-16 22:25] sww314 opened #644 "Allow default provider config for tenants"
I am using the python admin SDK to create tenants, but I can not manage the "default" providers. Only add new SAML and OIDC providers.

[code]

Now I have to go in the UI and click a button. Which defeats the purposes of creating the tenant programmatically if I still have to set it up by hand.

This is what I am trying to change:
![Screen Shot 2022-09-16 at 5 20 02 PM](https://user-images.githubu

[2022-09-22 04:34] hamidsafiullah commented on #479
made changes to _http_client.py python file by removing status on 37 line

[2022-09-27 08:50] sssaang opened #648 "[FR] Allow poolsize and maxpool size settings for http client"
**Is your feature request related to a problem? Please describe.**
I am currently facing a performance issue in which the default max pool size of requests library has become a bottleneck.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I was wondering if we could increase the pool size by taking them as parameters for message client constructor
**

[2022-10-06 16:31] mastah7991 opened #650 "One user is removed from database when the debugger hits a breakpoint."
Hello! :D
I have very weird problem.
One user is removed from my database when the debugger hits a breakpoint.

https://drive.google.com/file/d/1Pn4vHd_87C5pweNzh8JvYKkoNvagiNz4/view?usp=sharing

#### Relevant Code:

[code]

[2022-10-06 21:25] lahirumaramba commented on #593
Thank you for your patience everyone! We just released firebase-admin v6.0.0 with app check token verification support.
https://firebase.google.com/support/release-notes/admin/python#6.0.0
Let us know if you run into any issues.

[2022-10-10 13:09] jasmeet-singh-appboxer opened #651 "__init__() got an unexpected keyword argument 'notification_count'"
**My Environment**

  * Operating System version:  macOS Monterey (12.6)
  * Firebase SDK version: 6.0.0
  * Python version: 3.8.14
  * pip version: 22.2.2
  * requests version: 2.28.1
  * urllib3 version: 1.26.12

**Problem Description**

Suppose i have two android devices and if i try to send push notification to both devices:
1. Either one by one: Then first device receive the push notification

[2022-10-13 20:00] kdfriedman opened #653 "Cannot locate jwt package in app_check.py after updating to firebase-admin-python V6.0.0"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS 10.15.7
  * Firebase SDK version: `V6.0.0`
  * Firebase Product: `app_check`
  * Python version: 3.7.9
  * Pip version: 22.1.2

### [REQUIRED] Step 3: Describe the problem
Updated to V6.0.0 and attempted to run my development server within Flask and encountered the following errors:

[code]

After attempting to i

[2022-10-14 17:40] lahirumaramba commented on #653
Hey @kdfriedman, Thank you for reporting this issue!
I think we need to add the new dependency to `setup.py` to include it in the final artifacts. I will submit a fix for this.
In the meantime, could you check installing the dependency `pyjwt` in your project would fix this issue?

[code]

Thanks!

[2022-10-14 17:44] kdfriedman commented on #653
Thanks for the update! Yea, installing that particular package fixed my issue. Thanks again

[2022-10-14 21:06] #653 closed

[2022-10-18 12:54] apfromiit opened #656 "firebase-admin breaks chalice deployment in github workflows"
### [READ] Step 1: Are you in the right place?

  * For issues related to __the code in this repository__ file a GitHub issue.
  * If the issue pertains to __Cloud Firestore__, report directly in the
    [Python Firestore](https://github.com/googleapis/python-firestore) GitHub repo. Firestore
    bugs reported in this repo will be closed with a reference to the Python Firestore
    project.
  * Fo

[2022-10-18 21:04] lahirumaramba commented on #656
Hi @apfromiit Thank you for the repro! This looks like an `openssl` issue. Are you able to upgrade `pyOpenSSL` in your environment? Also see: https://askubuntu.com/questions/1428181/module-lib-has-no-attribute-x509-v-flag-cb-issuer-check

[2022-10-18 21:16] lahirumaramba commented on #651
Hi @jasmeet-singh-appboxer it looks like the error message you shared is coming from your code where you try to set an argument (`notification_count`) that is not valid for an object. If you think this is an issue of the SDK, please provide us with a minimal repro or a full working code and we'd be happy to take a look. Thanks!

[2022-10-18 21:16] #651 closed

[2022-10-18 21:29] lahirumaramba commented on #650
Hi @mastah7991, thank you for filing this issue. Are you testing this on a production project or on the emulator?
Just to double check, could you confirm that the user records are also removed from your project (on the console or on the emulator UI) when this happens? Thanks.

[2022-10-18 21:41] lahirumaramba commented on #641
Hi @koushikromel The Admin SDK is used in environments with administrative privileges and login to a user account is not currently a use case that is supported by the SDK. You would want to use one of the Firebase client-side SDKs (iOS, JS, Android etc.) to sign in users from the client side code.

You can use the ID token verification API in the Admin SDK to know what user is signed in on the cli

[2022-10-18 21:41] #641 closed

[2022-10-18 21:47] lahirumaramba commented on #630
Hey @oy321 , by JS did you mean the Firebase Web SDK? The Firebase Web SDK is a client sdk and supports authenticating users on the client side.
The Firebase Admin SDKs are used on environments with administrative privileges and does not need/support login users.

[2022-10-18 21:47] #630 closed

[2022-10-19 03:07] jasmeet-singh-appboxer commented on #651
Hey @lahirumaramba ,
Thanks for the response. But i don't think `notification_count` is an invalid argument, Because as per the official doc it is stated that we can send `notification_count` argument in `AndroidNotification` Function.
Doc: https://firebase.google.com/docs/reference/admin/python/firebase_admin.messaging#androidnotification

[2022-10-19 03:54] apfromiit commented on #656
Upgrading pyOpenSSL to latest version solved the issue. Thanks for the workaround.

https://github.com/apfromiit/chalice-firebase-admin-issue/commit/e307ac7eb9d244c8dedbf3eefca98aa7081c6f45?diff=unified

But adding pyJWT to the requirements also solved the issue.

https://github.com/apfromiit/chalice-firebase-admin-issue/blob/main/requirements.txt

Then is the below recent code change in firebase-

[2022-10-19 08:18] mastah7991 commented on #650
It happened on a production project.
I can confirm that my account has been removed from our development environment.
our plan: Blaze

I can record another video tomorrow to show it

[2022-10-19 17:42] lahirumaramba commented on #656
Ah that could be it. `pyJWT` was not added to the distribution artifacts and we fixed that in `6.0.1`. Could you check if the issue is solved if you use the latest `firebase-admin` release, please? Thank you!

[2022-10-19 23:27] apfromiit commented on #656
The actual issue reported was based on latest version: 6.0.1

The issue is not happening with firebase-admin==6.0.0
The issue occurs with firebase-admin==6.0.1

<img width="1043" alt="Screenshot 2022-10-20 at 4 56 51 AM" src="https://user-images.githubusercontent.com/5106676/196823130-62ee6bbf-3297-475f-b6a8-39a3e7d18dff.png">

[2022-10-21 09:47] mastah7991 commented on #650
https://drive.google.com/file/d/10WYk855n39mzoHcIS1QQKns0XnI69Cdt/view?usp=sharing

[2022-10-22 05:34] enahsor opened #658 "Import Error: Failed to import Cloud Firestore Library for Python"
### Describe your environment
 **Hardware**
Macbook Pro (M1, 2020)

  * Operating System version: MacOS Monterey
  * Firebase SDK version: 6.0.1
  * `google-cloud-firestore` version: `pip show google-cloud-firestore`
  * Python version: 3.10.4
  * Pip version: 22.3

**Pip List**
[code]

### Describe the problem
Importing `firestore` from `firebase_admin` causes an ImportError - it throws this exce

[2022-10-22 08:26] mycar98765 opened #659 "Why is there no dropdown to select an existing Google Cloud project in the create Firebase project page?"
I'm creating a Python project and getting data from Google Cloud Firestore, **not** Firebase Cloud Firestore.

When I run it, I get the following error:

    Traceback (most recent call last):
      File "main.py", line 17, in <module>
        for doc in docs:
      File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/google/cloud/firestore_v1/query.py", line 276, in

[2022-11-03 03:53] xellosiris commented on #658
Ｉhave same issue here

[2022-11-04 05:13] enahsor commented on #658
Are you also using pyenv?

[2022-11-04 05:14] enahsor commented on #658
Are you also using pyenv to manage your python environments @xellosiris?

[2022-11-09 18:13] jahanzaib1234 opened #660 "WARNING: python3-firebase-admin-6.0.1-r0 do_fetch: Failed to fetch URL https://files.pythonhosted.org/packages/source/f/firebase-admin/firebase-admin-6.0.1.tar.gz, attempting MIRRORS if available"
i get this Waring and error when i add firebase-admin package in yocto build

WARNING: python3-firebase-admin-6.0.1-r0 do_fetch: Failed to fetch URL https://files.pythonhosted.org/packages/source/f/firebase-admin/firebase-admin-6.0.1.tar.gz, attempting MIRRORS if available

[2022-11-11 14:12] Tom3652 opened #661 "[FR] Add custom timeout to `messaging` methods"
**Is your feature request related to a problem? Please describe.**

I have multiple timeout errors because of my low network connectivity home when trying to use `messaging.send_multicast(message)` to send push notifications.

**Describe the solution you'd like**

I would like to be able to set a custom timeout to this method to just wait it completes on my server without throwing an error.

[2022-11-11 17:20] iyad-salameh commented on #660
version 6 fails to install on raspbian.
i rolled back to 5.4.0 and everything worked

[2022-11-11 21:46] lahirumaramba commented on #661
Hi @Tom3652 , would the `httpTimeout` in app options help you in this case? https://firebase.google.com/docs/reference/admin/python/firebase_admin#initialize_app

[code]

[2022-11-11 21:51] Tom3652 commented on #661
Hi @lahirumaramba, thanks for the option it should actually do the trick !
Although i see the default is 2min, it seems more than reasonable so maybe there is an underlying issue with my setup.

I will anyway set a higher value, if this is used for any firebase admin api it's perfect.

Regarding this feature request, i think it would be nice anyway to be able to set a custom timeout for HTTP reque

[2022-11-11 21:52] lahirumaramba commented on #660
Raspberry Pi is not a platform that we officially support so I am unable to test this. We publish our official distribution artifacts on PyPI. https://pypi.org/project/firebase-admin/

[2022-11-11 21:59] lahirumaramba commented on #659
Hi, The Firebase Admin SDK bypasses security rules for Firestore when accessing a Firebase project. Please see how to set up the Admin SDK here https://firebase.google.com/docs/admin/setup#python

The issue you are seeing on the CLI should be better addressed on the https://github.com/firebase/firebase-tools repo or on Stack Overflow.

[2022-11-11 21:59] #659 closed

[2022-11-11 22:21] lahirumaramba commented on #658
I think this is an issue in the `grpcio` library on M1 machines. See https://stackoverflow.com/questions/69788752/on-apple-m1-grpc-google-api-import-error

According to the [github issue](https://github.com/grpc/grpc/issues/28387) it should be fixed in `grpcio 1.47.0` and newer. Some developers have also used the following as a workaround... which is mentioned [here](https://github.com/grpc/grpc/i

[2022-11-11 22:21] #658 closed

[2022-11-11 22:23] lahirumaramba commented on #656
Since upgrading `pyOpenSSL` fixed the issue I am going to close this. We can reopen later if needed. Thanks!

[2022-11-11 22:23] #656 closed

[2022-11-12 03:26] al-the-x opened #662 "[FR] Can we add `shallow` support to `Query.get` like `Reference.get`...?"
**Is your feature request related to a problem? Please describe.**

The addition of the `shallow` parameter when retrieving data was requested in #61 and accepted in #109, but this only added the `shallow` param to `Reference.get`. I have a `Query` (`order_by_child`) that I would like to `shallow`, but `Query.get` doesn't support the param.

**Describe the solution you'd like**

I don't see any li

[2022-11-15 22:25] lahirumaramba commented on #661
Thank you @Tom3652 . Glad to hear that custom `httpTimeout` works for you in this case. We currently don't have any immediate plans to support custom timeouts per module... however, feel free to submit a separate FR if you think there is a strong use case for such feature. Thanks!

[2022-11-15 22:25] #661 closed

[2022-11-15 22:25] #660 closed

[2022-11-22 20:25] prameshj commented on #611
/assign @pragatimodi

[2022-11-29 00:46] #593 closed